﻿@model Nota.Areas.Admin.Models.EventModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content mt-3">
                <div class="card-body">
                    <form asp-area="Admin" asp-action="Create" asp-controller="Events" id="basic-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Event Title<span class="mandatory text-danger"> *</span> </label>
                                    <input asp-for="Title" placeholder="Enter Event Title" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Brief Note<span class="mandatory text-danger"> *</span></label>
                                    <input asp-for="Brief" placeholder="Enter Brief note about Event" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                                    <span asp-validation-for="Brief" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Start Date<span class="mandatory text-danger"> *</span></label>
                                    <input asp-for="StartDate" type="datetime-local" placeholder="Enter Startin Date" class="form-control parsley-error" required="" data-parsley-id="31">
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>End Date<span class="mandatory text-danger"> *</span></label>
                                    <input asp-for="EndDate" type="datetime-local" placeholder="Enter Ending Date" class="form-control parsley-error" required="" data-parsley-id="31">
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Maximum Participants<span class="mandatory text-danger"> *</span></label>
                                    <input asp-for="MaxParticipants" type="number" placeholder="Enter Maximum Participants" class="form-control parsley-error" required="" data-parsley-id="31">
                                    <span asp-validation-for="MaxParticipants" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Event Desciption<span class="mandatory text-danger"> *</span></label>
                                    <input asp-for="Description" type="text" placeholder="Enter Description" class="form-control parsley-error" required="" data-parsley-id="31">
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                    <button type="button" onclick="window.location='/Admin/Events'" class="btn btn-danger" title="Back">Back</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>