﻿@model Nota.Areas.Admin.Models.EventModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content mt-3">
                <div class="card-body">
                    <form asp-area="Admin" asp-action="Detail" asp-controller="Events" id="basic-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(model => model.EventsID)
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Event Title<span class="mandatory text-danger"></span> </label>
                                <input asp-for="Title" readonly placeholder="Enter Event Title" type="text" class="form-control parsley-error" data-parsley-id="29">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Brief Note<span class="mandatory text-danger"> *</span></label>
                                <input asp-for="Brief" placeholder="Enter Brief note about Event" readonly type="text" class="form-control parsley-error" data-parsley-id="29">
                                <span asp-validation-for="Brief" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Start Date<span class="mandatory text-danger"></span></label>
                                <input asp-for="StartDate" type="datetime-local" placeholder="Enter Startin Date" readonly class="form-control parsley-error" data-parsley-id="31">
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>End Date<span class="mandatory text-danger"></span></label>
                                <input asp-for="EndDate" type="datetime-local" placeholder="Enter Ending Date" readonly class="form-control parsley-error" data-parsley-id="31">
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Maximum Participants<span class="mandatory text-danger"></span></label>
                                <input asp-for="MaxParticipants" type="number" placeholder="Enter Maximum Participants" class="form-control parsley-error" readonly data-parsley-id="31">
                                <span asp-validation-for="MaxParticipants" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Event Desciption<span class="mandatory text-danger"></span></label>
                                <input asp-for="Description" type="text" placeholder="Enter Event Description" class="form-control parsley-error" readonly data-parsley-id="31">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <button type="button" onclick="window.location='/Admin/Events'" class="btn btn-primary" title="Back">Back</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

