﻿
@using Nota.Areas.Admin.Helpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section style{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
    <link href="~/datatables/jquery.dataTables.js" rel="stylesheet" />
    <link href="~/datatables/dataTables.bootstrap.js" rel="stylesheet" />
    <style type="text/css">

        .customer-photo {
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-size: 32px 35px;
            background-position: center center;
            vertical-align: middle;
            line-height: 32px;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-left: 43px;
        }

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            float: right;
        }

            /* Hide default HTML checkbox */
            .switch input {
                display: none;
            }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ff1414;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input.default:checked + .slider {
            background-color: #0dcc62;
        }

        input.primary:checked + .slider {
            background-color: #2196F3;
        }

        input.success:checked + .slider {
            background-color: #8bc34a;
        }

        input.info:checked + .slider {
            background-color: #3de0f5;
        }

        input.warning:checked + .slider {
            background-color: #FFC107;
        }

        input.danger:checked + .slider {
            background-color: #f44336;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>
}

<div class="page-header">
    <div class="row">
    </div>
</div>
<div class="card m-b-30">
    <div class="card-body">
        <input type="hidden" id="EventID" value="@ViewData["EventID"]" />
        <div class="">

            <button type="button" id="newmember" class="btn btn-primary add-new" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>Add New Member</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Select Participents</h4>
                        </div>
                        <div class="modal-body">
                            <h2 class="h4 mb-4">View User</h2>
                            <table id="UserTable" class="table table-bordered table-striped ml-5">
                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>FirstName</th>
                                        <th>Last Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>


                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="EventGrid"></div><br />
        <div class="col-sm-12">
            @if (CurrentAdminSession.HasDeletePermission)
            {
                <div class="row">
                    <div class="">
                        <button type="submit" class="btn btn-secondary" title="Delete" onclick="return Check_CheckBox_Count('EventsID');"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
<div class="row">
</div>

@section scripts{
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.all.min.js"></script>
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/SiteUrl.js"></script>
    <script src="~/datatables/jquery.dataTables.js"></script>
    <script src="~/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        var userlist = [];
        $(document).ready(function () {
            // alert($("#EventID").val());

            $("#myModal").on("hidden.bs.modal", function () {
                alert("closed");
            });

            $("#newmember").click(function () {
                 if ($.fn.DataTable.isDataTable("#UserTable")) {
                          $('#UserTable').DataTable().clear().destroy();
                        }
                   $("#UserTable").DataTable({

                        "paging": "true",
                        "lengthChange": "false",
                    "ajax": {
                    "url": '@Url.Action("GetUsers","Events")',
                    "type": "Get",
                    "datatype": "json"
                    },
                    "columns": [
                        {
                            render: function (data, type, row) {//data
                                //alert(JSON.stringify(row));
                                //var result = JSON.stringify(row);
                                //alert(row.firstName);
                                 //alert(userlist.length);
                                var check = false;
                                if (userlist.length == 0) {
                                    check = true;
                                }
                                for (var i = 0; i < userlist.length; i++) {
                                    if (userlist[i] != row.email) {
                                        check = true;
                                    }
                                    else {
                                        //alert(row.email);
                                        //alert(userlist[i]);
                                        check = false;
                                        break;
                                    }
                                }
                                if (check == true) {
                                    return '<Button href="#" class="btn bg-primary text-white" data-id="Id" onclick="SelectUser(' + row.userID + ',' + $("#EventID").val() + ')">Select</Button> ';
                                }
                                else {
                                    return '<span class="text-success">Already a Member</span> ';

                                }
                            }
                        },
                        { "data": "firstName", "name": "FirstName", "autoWidth": true },
                        { "data": "lastName", "name": "LastName", "autoWidth": true },
                        { "data": "phone", "name": "Phone", "autoWidth": true },
                        { "data": "email", "name": "Email", "autoWidth": true }
                    ]

                   });

                 $("#UserTable_length").hide();
            });
            $('#myModal').appendTo("body");
            GetMembers();
        });
        function GetMembers() {

            $.ajax({
                type: "GET",
                url: "@Url.Content("~/Admin/Events/GetMembers")"+ "?id="+$("#EventID").val(),
                success: function (result) {

                    loadGrid(result);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        }
        function onActive(id) {
            $.post("@Url.Content("~/Admin/Events/_IsActive")", { id: id }, function (result) {
                if (result) {
                    $.ajax({
                type: "POST",
                url: "@Url.Content("~/Admin/Events/_AjaxBinding")",
                success: function (result) {
                    loadGrid(result);
                    },
                    });
                }
            });
        }
        function SelectUser(UserID, EventID) {
            var date = new Date();
             var eventparticepentmodel = {
                PublicUserID:UserID ,
                EventsID: EventID,
                DateApplied: date,
                Status: "true"
            };
                   $.ajax({
                url: '/Admin/EventParticipant/Add',
                type: 'POST',
                data: eventparticepentmodel,
                       success: function (data) {
                           //alert(JSON.stringify(data));
                    if (data.result == "Success") {
                       // alert("Success");
                        window.location.href = "/Admin/Events/Members?id="+1;
                    }
                    else {
                    alert("Failed Msg:"+data.result);
                    }
                },
                error: function () {
                   // alert("error");
                }
                   });
           // GetMembers();
           // $("#myModal").modal("hide");

        }
        function loadGrid(results) {
           // alert(JSON.stringify(results));
            for (var i = 0; i < results.length; i++) {
                //alert(JSON.stringify(results[i]));
                userlist.push(results[i].email);
            }
            $("#EventGrid").kendoGrid({
                dataSource: {
                    data: results,
                    cache: false,
                    schema: {
                        model: {
                            eventID: "eventID",
                            fields: {
                                Title: {
                                    type: "string"
                                }
                            },
                        }
                    },
                    pageSize: 10
                },
                editable: false,
                selectable: true,
                //height: 550,
                pageable: { refresh: true },
                groupable: true,
                sortable: true,
                filterable: true,
                refresh: true,
                    columns: [
                        {
                            title:"Delete",
                            width: 50,
                            headerTemplate: "<input type='checkbox' id='allCheckBox' name='allCheckBox' title='check all records' class='regular-checkbox' onclick='return initializeAllCheckBox();'/>",
                            template: "<input class='singleCheckBox' name='chkDelete' id='#= eventsID#' type='checkbox' value='#=eventsID#' onclick='return initializeSingleCheckBox(this);'>"
                        },
                         {
                            title: "Name",
                            field: "firstName",
                            template: "<label class='switch'>#=firstName# #=lastName#</label>",
                            width: 100,
                        },
                        { field: "email", title: "Email" },
                        { field: "dateApplied", title: "Date Applied" },

                        {
                            title: "Status",
                            field: "Status",
                            template: "<label class='switch'><input type='checkbox' # if (isActive == true){ #checked #} else {##:isActive# #}#  class='default' onchange='onActive(#=eventsID#)'/><span class='slider round'></span></label>",
                            width: 100,
                        },  {
                            title: "View Submissions",
                            field: "Status",
                            template: '<i class="fas fa-folder-open icon-large ml-5" style="color:green;" onclick="ViewSubmission(#=publicUserID#,#=eventsID#)"></i>',
                            width: 160,
                        },
                        { title: "Remove",
                            field: "Status",
                            template: '<i class="fas fa-minus-circle icon-large ml-3" style="color:red;" onclick="RemoveMember(#=publicUserID#,#=eventsID#)"></i>',
                            width: 100,
                        },
                         { title: "Winner",
                            field: "Status",
                            template: '<a><i class="fas fa-trophy icon-large" style="color:gray;" onclick="Winner(#=publicUserID#)"></i>Select</a>',
                            width: 100,
                        },

                    ],
                editable: false
            });
        }
        function ViewSubmission(publicUserID,eventsID) {

               var date = new Date();
             var eventparticepentmodel = {
                PublicUserID:publicUserID ,
                EventsID: EventID,
                DateApplied: date,
                Status: "true"
            };
            var id = publicUserID;
            window.location.href = "/Admin/Events/ViewSubmissions?id=" + publicUserID +"&eventid="+eventsID;

        }
        function RemoveMember(publicUserID,EventID) {
          var date = new Date();
             var eventparticepentmodel = {
                PublicUserID:publicUserID ,
                EventsID: EventID,
                DateApplied: date,
                Status: "true"
            };
            var id = publicUserID;
             $.ajax({
                url: '/Admin/EventParticipant/Delete',
                 type: 'POST',
                 data: eventparticepentmodel
                 ,
                       success: function (data) {
                           //alert(JSON.stringify(data));
                    if (data.result == "Success") {
                       // alert("Success");
                        window.location.href = "/Admin/Events/Members?id="+1;
                    }
                    else {
                    // alert("Failed");
                    }
                },
                error: function () {
                   // alert("error");
                }
                   });
        }
        function Check_CheckBox_Count(deleteName) {
            var $b = $('input[name=chkDelete]');
            var total_selected = $b.filter(':checked').length;
            if (total_selected > 0) {
                $.confirm({
                    title: 'Alert!',
                    content: 'Are you sure? Do you want to delete record(s)?',
                    type: 'red',
                    icon: 'fa fa-warning',
                    buttons: {
                        confirm: function () {
                            checked = [];
                            $("input[name=chkDelete]:checkbox").each(function () {
                                if (this.checked) {
                                    checked.push(this.value);
                                    var SiteBaseUrl = SiteUrl + "Admin/Events/Delete";
                                    $.post(SiteBaseUrl, { eventsID: checked }, function (result) {
                                        if (result) {
                                            window.location.reload();
                                        }
                                        else {
                                            alert("Something Went Wrong!");
                                        }
                                    });
                                }
                            });
                        },
                        cancel: function () {
                            return;
                        }
                    }
                });
            }
            else {
                alert("Please select at least one checkbox to delete.");
                return false;
            }
        }
    </script>
}
