﻿@model List<Nota.Areas.Admin.Models.EventSubmissionModel>
@{
    ViewData["Title"] = "ViewSubmissions";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="box">
    <div class="with-border col-lg-offset-4">
        <h1 class="box-title text-primary"> <i class="fa fa-book"></i>Submitted Files</h1>
        <div class="box-tools pull-right">

        </div>
    </div>


    <div class="col-lg-12 mt-5">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#Lecture" class="bg-gray" data-toggle="tab"><i class="fa fa-music fa-3x"></i>Mp3</a></li>
                <li class="ml-5"><a href="#Assignment" data-toggle="tab" class="bg-gray"><i class="fa fa-sticky-note fa-3x"></i>Notes</a></li>
                <li class="ml-5"><a href="#Quizz" data-toggle="tab" class="bg-gray"><i class="fa fa-book fa-3x"></i>Doc</a></li>
                <li class="ml-5"><a href="#others" data-toggle="tab" class="bg-gray"><i class="fa fa-file-pdf-o fa-3x"></i>Pdf</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="Lecture">
                    <!-- Post -->
                    <div class="col-xs-12">


                        <!-- /.box-header -->
                        <div class="box-body">

                            <table id="lecturetable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>

                                        <th>Name</th>
                                        <th>File</th>

                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var val in Model)
                                    {

                                        <tr>

                                            <td>@val.Name</td>
                                            <td>
                                                @Html.ActionLink("Download", "Download", new
                                                {
                                                    file = val.Path
                                                })
                                            </td>

                                            <td>@val.ContentType</td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>

                    </div>

                    <!-- /.post -->
                </div>

            </div>
        </div>
    </div>
