﻿@model Nota.Areas.User.Models.UserChangePasswordModel
@{
    ViewData["Title"] = "Edit Detail";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .customer-photo {
        display: table;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background-size: 148px 148px;
        background-position: center center;
        vertical-align: middle;
        line-height: 50px;
        box-shadow: inset 0 0 5px #999, inset 0 0 20px rgba(0,0,0,.2);
        margin-left: 50px;
    }

    .project-tab {
        padding: 10%;
        margin-top: -8%;
    }

    .file {
        visibility: hidden;
        position: absolute;
    }

    .project-tab #tabs {
        background: white;
        color: white;
    }

        .project-tab #tabs h6.section-title {
            color: white;
        }

        .project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: white;
            background-color: transparent;
            border-color: transparent transparent white;
            border-bottom: 3px solid !important;
            font-size: 16px;
            font-weight: bold;
        }

    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: white;
        font-size: 16px;
        font-weight: 600;
    }

        .project-tab .nav-link:hover {
            border: none;
            color: white;
        }

    .project-tab thead {
        background: white;
        color: white;
    }

    .project-tab a {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }
</style>
<div class="ms_profile_wrapper">
    <h1>Edit Profile</h1>
    <div class="ms_profile_box">
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Edit Detail</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Change Password</a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <!-- Edit detail tab-->
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <form asp-area="User" asp-action="EditDetail" asp-controller="UserProfile" id="nav-home" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(Model => Model.PublicUserID)
                    <br /><br />
                    <div class="ms_pro_img">
                        <img @*src="https://placehold.it/80x80"*@ alt="" id="preview" style='background-image: url(/ApplicationDocuments/Images/@Model.ProfilePicture);' class="customer-photo img-fluid"><br /><br />
                        <input type="file" id="Attachments" name="Attachments" class="file file-upload" accept="image/*">
                        <span asp-validation-for="ProfilePicture" class="text-white"></span>
                        <div class="input-group my-3">
                            <input type="text" class="form-control" disabled name="Attachments" placeholder="Upload File" id="Attachments">
                            <div class="input-group-append">
                                <button type="button" class=" ms_banner_btn btn-primary browse">Browse...</button>
                            </div>
                        </div>
                    </div>
                    <div class="ms_pro_form">
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <label>First Name *</label>
                            <input type="text" asp-for="FirstName" placeholder="Enter your First Name" class="form-control">
                            <span asp-validation-for="FirstName" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <label>Last Name *</label>
                            <input type="text" asp-for="LastName" placeholder="Enter confirm password" class="form-control">
                            <span asp-validation-for="LastName" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" style="text-align:center;" class="ms_btn">Save</button>
                            <button type="button" onclick="window.location='/User/UserDashboard'" class="ms_btn" title="Save">Back</button>
                        </div>
                    </div>
                </form>
            </div>

            <!--Change Password tab-->
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <form asp-area="User" asp-action="ChangePassword" asp-controller="UserProfile" id="nav-profile" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="ms_pro_img">
                    </div>
                    @Html.HiddenFor(Model => Model.PublicUserID)
                    <div class="ms_pro_form">
                        <div class="form-group">
                            <label>Your Email : </label>
                            <span class="text-white">@Model.Email</span>
                        </div>
                        <div class="form-group">
                            <label>Old Password*</label>
                            <input type="password" asp-for="OldPassword" placeholder="Enter your old Password" class="form-control">
                            <span asp-validation-for="OldPassword" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <label>New Password *</label>
                            <input type="password" asp-for="NewPassword" placeholder="Enter your new password" class="form-control">
                            <span asp-validation-for="NewPassword" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password *</label>
                            <input type="password" asp-for="ConfirmPassword" placeholder="Enter confirm password" class="form-control">
                            <span asp-validation-for="ConfirmPassword" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" style="text-align:center;" class="ms_btn">Save</button>
                            <button type="button" onclick="window.location='/User/UserDashboard'" class="ms_btn" title="Save">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@{
    @*@Html.Hidden("msg", Html.TempData["Msg"].ToString() != null ? Html.TempData["Msg"].ToString().ToLower() : "");*@
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@Html.TempData["Msg"]' == "updated") {
                swal("Saved!", "Your Detail Successfully Updated.", "success");
            }
            if ('@Html.TempData["Msg"]' == "newpasswordcannotbesame") {
                swal("Invalid!", "New Password Can't be same as Old Passwod.", "warning");
            }
            if ('@Html.TempData["Msg"]' == "oldpassworddonotmatch") {
                swal("Invalid!", "Old Password Does Not Match.", "warning");
            }
            if ('@Html.TempData["Msg"]' == "changed") {
                swal("Changed!", "Old Password Does Not Match.", "warning");
            }
        });
        $(document).on("click", ".browse", function () {
            var file = $(this).parents().find(".file");
            file.trigger("click");
        });
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $("#file").val(fileName);

            var reader = new FileReader();
            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("preview").src = e.target.result;
            };
            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        });
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="@Url.Content("~/js/passwordStrengthMeter.js")"></script>
    <script src="@Url.Content("~/js/ChangePassword.js")"></script>
}