﻿@model Nota.Areas.Admin.Models.RoleModel
@{
    ViewData["Title"] = "Create";
}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content mt-3">
                <div class="card-body">
                    <form asp-area="Admin" asp-action="Create" asp-controller="Role" id="basic-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Role<span class="mandatory text-danger"> *</span> </label>
                                    <input asp-for="Role" placeholder="Enter Role" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Description<span class="mandatory text-danger"> *</span></label>
                                    <input asp-for="Description" placeholder="Enter Role Description" type="text" class="form-control parsley-error" required="" data-parsley-id="29">@*<ul class="parsley-errors-list filled" id="parsley-id-29"><li class="parsley-required">This value is required.</li></ul>*@
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                    <button type="button" onclick="window.location='/Admin/Role'" class="btn btn-primary" title="Save">Back</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="@Url.Content("~/js/Role.js")"></script>
}