﻿@model Nota.Areas.Admin.Models.RoleModel
@{
    ViewData["Title"] = "Detail";
}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content mt-3">
                <div class="card-body">
                    <form asp-area="Admin" asp-action="Detail" asp-controller="Role" id="basic-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Role<span class="mandatory text-danger"></span> </label>
                                    <input asp-for="Role" placeholder="Enter Role" type="text" class="form-control parsley-error" required="" data-parsley-id="29" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Description<span class="mandatory text-danger"></span></label>
                                    <input asp-for="Description" placeholder="Enter Role Description" type="text" class="form-control parsley-error" required="" data-parsley-id="29" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <button onclick="window.location='/Admin/Role'" type="button" class="btn btn-primary" title="Save">Back</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>