﻿@model Nota.Areas.Admin.Models.RoleModel
@using Nota.Areas.Admin.Helpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section style{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
}
<div class="page-header">
    <div class="row">
    </div>
</div>
<div class="card m-b-30">
    <div class="card-body">
        <div class="">
            @if (CurrentAdminSession.HasAddPermission)
            {
                <a asp-area="Admin" asp-action="Create" asp-controller="Role" style="margin-bottom:20px;" class="btn btn-primary add-new"><i class="fa fa-plus"></i>  Add New</a>
            }
        </div>
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/CommonMessages.cshtml", Model.ModuleName)
        <div id="RoleGrid"></div><br/>
        <div class="">
            @if (CurrentAdminSession.HasDeletePermission)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-secondary" title="Delete" onclick="return Check_CheckBox_Count('RoleID');"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
</div>
@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.all.min.js"></script>
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/SiteUrl.js"></script>
    <script type="text/javascript">
          $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/Admin/Role/_AjaxBinding")",
                success: function (result) {
                    loadGrid(result);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
          });
          function onActive(id) {
            $.post("@Url.Content("~/Admin/Role/_IsActive")", { id: id }, function (result) {
                if (result) {
                    $.ajax({
                type: "POST",
                url: "@Url.Content("~/Admin/Role/_AjaxBinding")",
                success: function (result) {
                    loadGrid(result);
                    },
                    });
                }
            });
         }
        function loadGrid(results) {
            $("#RoleGrid").kendoGrid({
                dataSource: {
                    data: results,
                    cache: false,
                    schema: {
                        model: {
                            roleID: "role",
                            fields: {
                                Role: {
                                    type: "string"
                                }
                            },
                        }
                    },
                    pageSize: 10
                },
                editable: false,
                selectable: true,
                //height: 550,
                pageable: { refresh: true },
                groupable: true,
                sortable: true,
                filterable: true,
                    columns: [
                        {
                            title:"Delete",
                            width: 50,
                            headerTemplate: "<input type='checkbox' id='allCheckBox' name='allCheckBox' title='check all records' class='regular-checkbox' onclick='return initializeAllCheckBox();'/>",
                            template: "<input class='singleCheckBox' name='chkDelete' id='#= roleID#' type='checkbox' value='#=roleID#' onclick='return initializeSingleCheckBox(this);'>"
                        },
                        { field: "role", title: "Role" },
                        { field: "description", title: "Description" },
                        { field: "adminRole", title: "IsAdminRole" },
                        //{
                        //    title: "Status",
                        //    field: "isActive",
                        //    template: "<label class='switch'><input type='checkbox' # if (isActive == true){ #checked #} else {##:isActive# #}#  class='default' onchange='onActive(#=roleID#)'/><span class='slider round'></span></label>",
                        //    width: 100,
                        //},
                        {
                            title: "Edit",
                            template: "# if ('@CurrentAdminSession.HasEditPermission' == 'True'){ # <a href='/Admin/Role/Edit?id=#=roleID#'> #: 'Edit' # </a>#} else {##: ' N/A ' ##} #",
                            width: 100
                        },
                        {
                            title: "Detail",
                            template: "# if ('@CurrentAdminSession.HasDetailPermission' == 'True'){ # <a href='/Admin/Role/Detail?id=#=roleID#'> #:'Detail'# </a>#} else {##: ' N/A ' ##} #",
                            width: 100
                        },
                    ],
                editable: false
            });
        }
        function Check_CheckBox_Count(deleteName) {
            var $b = $('input[name=chkDelete]');
            var total_selected = $b.filter(':checked').length;
            if (total_selected > 0) {
                $.confirm({
                    title: 'Alert!',
                    content: 'Are you sure? Do you want to delete record(s)?',
                    type: 'red',
                    icon: 'fa fa-warning',
                    buttons: {
                        confirm: function () {
                            checked = [];
                            $("input[name=chkDelete]:checkbox").each(function () {
                                if (this.checked) {
                                    checked.push(this.value);
                                    var SiteBaseUrl = SiteUrl + "Admin/Role/Delete";
                                    $.post(SiteBaseUrl, { RoleID: checked }, function (result) {
                                        if (result) {
                                            window.location.reload();
                                        }
                                        else {
                                            alert("Something Went Wrong!");
                                        }
                                    });
                                }
                            });
                        },
                        cancel: function () {
                            return;
                        }
                    }
                });
            }
            else {
                alert("Please select at least one checkbox to delete.");
                return false;
            }
        }
    </script>
}