﻿@model Nota.Areas.User.Models.UserPurchaseModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
@section style{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
}
<div class="header">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
</div>
<div class="ms_profile_wrapper">
    <h1>My Purchases</h1>
    <div class="row">
        <div class="ms_pro_form">
            <div id="PurchaseGrid"></div>
        </div>
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/CommonMessages.cshtml", Model.ModuleName)
    </div><br/>
    <a class="ms_btn" asp-action="Index" asp-controller="UserDashboard" asp-area="User">Back</a>
</div>
<div class="row">
    <div class="col-sm-12">
    </div>
</div>
<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 43px;
    }
</style>
@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.all.min.js"></script>
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/SiteUrl.js"></script>
    <script type="text/javascript">
          $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/User/MyPurchase/_AjaxBinding")",
                success: function (result) {
                    loadGrid(result);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
          });
        function loadGrid(results) {
            $("#PurchaseGrid").kendoGrid({
                dataSource: {
                    data: results,
                    cache: false,
                    schema: {
                        model: {
                            purchaseID: "purchaseID",
                            fields: {
                                PublicUserID: {
                                    type: "int"
                                }
                            },
                        }
                    },
                    pageSize: 10
                },
                editable: false,
                selectable: true,
                //height: 550,
                pageable: { refresh: true },
                groupable: true,
                sortable: true,
                filterable: true,
                refresh: true,
                    columns: [
                        { field: "firstName", title: "FirstName"},
                        { field: "title", title: "Title"},
                        { field: "description", title: "Description"},
                        { field: "amount", title: "Amount" },
                        { field: "paymentDate", title: "PaymentDate" },
                        { field: "discountPercentage", title: "DiscountPercentage" },
                    ],
                editable: false
            });
        }
    </script>
}