﻿@model Nota.Areas.Admin.Models.LoginModel
@using Nota.Common
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login - The Nota Music Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Kero HTML Bootstrap 4 Dashboard Template">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" href="~/assets/images/favicon.ico" />
    <link rel="icon" href="~/assets/images/icons.gif" />
    <link rel="logo" href="~/assets/images/logo-inverse.png" />
    <link rel="logo" href="~/assets/images/logo.png" />
    <link rel="stylesheet" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link href="~/assets/images/logo.png" rel="logo" />
    <link href="~/assets/css/Main.css" rel="stylesheet">
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div class="d-none d-lg-block col-lg-4">
                        <div class="slider-light">
                            <div class="slick-slider">
                                <div>
                                    <div class="h-100 d-flex justify-content-center align-items-center bg-plum-plate" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('~/assets/images/originals/fence-small.jpg');"></div>
                                        <div class="slider-content">
                                            <h3>Perfect Balance</h3>
                                            <p>KeroUI is like a dream. Some think it's too good to be true! Extensive collection of unified React Boostrap Components and Elements.</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('~/assets/images/originals/citynights.jpg');"></div>
                                        <div class="slider-content">
                                            <h3>Scalable, Modular, Consistent</h3>
                                            <p>Easily exclude the components you don't require. Lightweight, consistent Bootstrap based styles across all elements and components</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="h-100 d-flex justify-content-center align-items-center bg-sunny-morning" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('~/assets/images/originals/citydark.jpg');"></div>
                                        <div class="slider-content">
                                            <h3>Complex, but lightweight</h3>
                                            <p>We've included a lot of components that cover almost all use cases for any type of application.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                            <div class="app-logo"></div>
                            <h4 class="mb-0">
                                <span class="d-block">Welcome back,</span>
                                <span>Please sign in to your account.</span>
                            </h4>
                            <div class="alert alert-danger" id="messageLogin" style="display: none;">
                            </div>
                            @{
                                if (Context.Request.Query["Msg"].ToString() != null && Context.Request.Query["Msg"].ToString().ToLower() == "unauthorize")
                                {
                                    <div class="alert alert-danger" id="authorisemsg">
                                        @Html.Encode(String.Format(Messages.NotAuthorized))
                                    </div>
                                }
                                if (Context.Request.Query["Msg"].ToString() != null && Context.Request.Query["Msg"].ToString() == "Forgot")
                                {
                                    <div class="alert alert-success" id="msgUnAuthorized">
                                        @Html.Encode(String.Format(Messages.ResetPasswordMail))
                                    </div>
                                }
                                if (Context.Request.Query["Msg"].ToString() != null && Context.Request.Query["Msg"].ToString() == "Reset")
                                {
                                    <div class="alert alert-success" id="msgUnAuthorized">
                                        @Html.Encode(String.Format(Messages.SuccessResetPassword))
                                    </div>
                                }
                                if (Context.Request.Query["Msg"].ToString() != null && Context.Request.Query["Msg"].ToString().ToLower() == "changed")
                                {
                                    <div class="alert alert-success" id="msgUnAuthorized">
                                        @Html.Encode(String.Format(Messages.SuccessChanged, "Password"))
                                    </div>
                                }
                                if (Context.Request.Query["Msg"].ToString() != null && Context.Request.Query["Msg"].ToString() == "Logout")
                                {
                                    <div class="alert alert-success mtp10 alert-cus" id="logout">
                                        @Html.Encode(String.Format(Messages.SuccessLogOut))
                                    </div>
                                }
                            }
                            <div class="divider row"></div>
                            <div>
                                <form asp-action="Index" asp-controller="Login" asp-area="Admin" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail" class="">Email</label>
                                                <input asp-for="Email" name="email" id="exampleEmail" placeholder="Email here..." type="email" class="form-control">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="examplePassword" class="">Password</label>
                                                <input asp-for="Password" name="password" id="examplePassword" placeholder="Password here..." type="password" class="form-control">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="position-relative form-check"><input name="check" id="exampleCheck" type="checkbox" class="form-check-input"><label for="exampleCheck" class="form-check-label">Keep me logged in</label></div>
                                    <div class="divider row"></div>
                                    <div class="d-flex align-items-center">
                                        <div class="ml-auto">
                                            <button class="btn btn-primary btn-lg" type="submit">Login to Dashboard</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/web-assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/scripts/main.07a59de7b920cd76b874.js"></script>
    <script src="~/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
<!-- Mirrored from demo.dashboardpack.com/kero-html-sidebar-pro/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Aug 2020 06:09:28 GMT -->
</html>