﻿@model Nota.Areas.Admin.Models.ProductModel
@using Nota.Areas.Admin.EnumType
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content mt-3">
                <div class="card-body">
                    <form asp-area="Admin" asp-action="Create" asp-controller="Product" id="image-form" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row form-material">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="file" id="Attachments" name="Attachments" class="file file-upload" accept="image/*">
                                    <div class="input-group my-3">
                                        <input type="text" class="form-control" disabled name="Attachments" placeholder="Upload File" id="Attachments">
                                        <div class="input-group-append">
                                            <button type="button" class="browse btn btn-primary">Browse...</button>
                                        </div>
                                    </div>
                                    <div class="ml-2 col-sm-6">
                                        <img src="https://placehold.it/80x80" style="display:inline;" id="preview" class="img-thumbnail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-material">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Title<span class="mandatory text-danger"> *</span> </label>
                                    <input asp-for="Title" placeholder="Enter Title" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Description<span class="mandatory text-danger"> *</span> </label>
                                    <input asp-for="Description" placeholder="Enter Description" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Upload Type<span class="mandatory text-danger"> *</span> </label><br />
                                    <input id="switch-one" asp-for="UploadType" type="radio" value="@((Int16)UploadTypeEnum.Notes)" name="UploadType" data-toggle="switchbutton" tabindex="8"><lab1>  Notes</lab1>
                                    <input id="switch-two" asp-for="UploadType" type="radio" value="@((Int16)UploadTypeEnum.Music)" name="UploadType" data-toggle="switchbutton" tabindex="8"><lab1>  Music</lab1>
                                    <input id="switch-three" asp-for="UploadType" type="radio" value="@((Int16)UploadTypeEnum.Lyrics)" name="UploadType" data-toggle="switchbutton" tabindex="8"><lab1>  Lyrics</lab1>
                                    <br /><span asp-validation-for="UploadType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Price Type<span class="mandatory text-danger"> *</span> </label><br />
                                    <input id="freechkbox" asp-for="PriceType" type="radio" value="@((Int16)PriceTypeEnum.Free)" name="PriceType" data-toggle="switchbutton" data-onlabel="Active" data-offlabel="Inactive" tabindex="8"><lab1>  Free</lab1>
                                    <input id="premium" asp-for="PriceType" type="radio" value="@((Int16)PriceTypeEnum.Premium)" name="PriceType" data-toggle="switchbutton" data-onlabel="Active" data-offlabel="Inactive" tabindex="8"><lab1>  Premium</lab1>
                                    <br /><span asp-validation-for="PriceType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Categories<span class="mandatory text-danger"> *</span> </label>
                                    <select asp-for="CategoriesID" asp-items="Model.SelectCategories" class="form-control parsley-error" tabindex="7">
                                        <option value="">-- Select Categories --</option>
                                    </select>
                                    <span asp-validation-for="CategoriesID" class="text-danger"></span>
                                </div>
                            </div>
                            <div id="discount" class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Discount Percentage<span class="mandatory "></span> </label>
                                    <input asp-for="DiscountPercentage" placeholder="Enter Discount Percentage" type="text" class="form-control parsley-error" data-parsley-id="29">
                                </div>
                            </div>
                            <div id="amount" class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Amount<span class="mandatory text-danger"> *</span> </label>
                                    <input asp-for="Amount" placeholder="Enter Amount" type="number" class="form-control parsley-error" required="" data-parsley-id="29">
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                            </div>
                            <br>
                            <div class="col-lg-6 col-md-6 col-sm-12"></div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                    <button type="button" onclick="window.location='/Admin/Product'" class="btn btn-danger" title="Back">Back</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="file"]').change(function (e) {
                var fileName = e.target.files[0].name;
                $("#file").val(fileName);

                var reader = new FileReader();
                reader.onload = function (e) {
                    // get loaded data and render thumbnail.
                    document.getElementById("preview").src = e.target.result;
                };
                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            });
        });
        $("#freechkbox").click(function () {
            if ($(this).is(":checked")) {
                $("#amount").hide();
                $("#discount").hide();
            }
        });
        $("#premium").click(function () {
            if ($(this).is(":checked")) {
                $("#amount").show();
                $("#discount").show();
            }
        });
        $(document).on("click", ".browse", function () {
            var file = $(this).parents().find(".file");
            file.trigger("click");
        });
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

}