﻿@model Nota.Areas.Admin.Models.ProductModel
@using Nota.Areas.Admin.EnumType 
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .customer-photo {
        display: table;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: 50px 50px;
        background-position: center center;
        vertical-align: middle;
        line-height: 45px;
        box-shadow: inset 0 0 3px #999, inset 0 0 20px rgba(0,0,0,.2);
        margin-left: 43px;
    }
</style>
<body>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content mt-3">
                    <div class="card-body">
                        <form asp-area="Admin" asp-action="Detail" asp-controller="Product" id="image-form" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @Html.HiddenFor(Model => Model.ProductID)
                            <div class="row form-material">
                                <div class="col-md-6 col-sm-1 col-lg-6">
                                    <div class="form-group">
                                        <div class='customer-photo center' style='background-image: url(/ApplicationDocuments/Images/@Model.CoverImage);'></div><br />
                                    </div>
                                </div>
                            </div>
                            <div class="row form-material">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Title<span class="mandatory"></span> </label>
                                        <input asp-for="Title" placeholder="Enter Title" readonly type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Description<span class="mandatory"></span> </label>
                                        <input asp-for="Description" readonly placeholder="Enter Description" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Upload Type<span class="mandatory"></span> </label><br />
                                        <input id="switch-one" readonly asp-for="UploadType" type="radio" value="@((Int16)UploadTypeEnum.Notes)" name="UploadType" data-toggle="switchbutton" tabindex="8"><lab1>  Notes</lab1>
                                        <input id="switch-two" readonly asp-for="UploadType" type="radio" value="@((Int16)UploadTypeEnum.Music)" name="UploadType" data-toggle="switchbutton" tabindex="8"><lab1>  Music</lab1>
                                        <input id="switch-three" readonly asp-for="UploadType" type="radio" value="@((Int16)UploadTypeEnum.Lyrics)" name="UploadType" data-toggle="switchbutton" tabindex="8"><lab1>  Lyrics</lab1>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Price Type<span class="mandatory"></span> </label><br />
                                        <input id="switch-three" readonly asp-for="PriceType" type="radio" value="@((Int16)PriceTypeEnum.Free)" name="PriceType" data-toggle="switchbutton" data-onlabel="Active" data-offlabel="Inactive" tabindex="8"><lab1>  Free</lab1>
                                        <input id="switch-three" readonly asp-for="PriceType" type="radio" value="@((Int16)PriceTypeEnum.Premium)" name="PriceType" data-toggle="switchbutton" data-onlabel="Active" data-offlabel="Inactive" tabindex="8"><lab1>  Premium</lab1>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Categories <span class="mandatory"></span> </label>
                                        <select disabled asp-for="CategoriesID" asp-items="Model.SelectCategories" class="form-control parsley-error" tabindex="7">
                                            <option value="">-- Select Categories --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Discount Percentage<span class="mandatory"></span> </label>
                                        <input readonly asp-for="DiscountPercentage" placeholder="Enter Discount Percentage" type="text" class="form-control parsley-error" data-parsley-id="29">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Amount<span class="mandatory"></span> </label>
                                        <input readonly asp-for="Amount" placeholder="Enter Amount" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                <br>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <button type="button" onclick="window.location='/Admin/Product'" class="btn btn-primary" title="Back">Back</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</body>