﻿@model Nota.Areas.Admin.Models.ProductModel
@using Nota.Areas.Admin.Helpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section style{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
    <style type="text/css">
        .customer-photo {
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-size: 32px 35px;
            background-position: center center;
            vertical-align: middle;
            line-height: 32px;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-left: 43px;
        }

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            float: right;
        }

            /* Hide default HTML checkbox */
            .switch input {
                display: none;
            }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ff1414;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input.default:checked + .slider {
            background-color: #0dcc62;
        }

        input.primary:checked + .slider {
            background-color: #2196F3;
        }

        input.success:checked + .slider {
            background-color: #8bc34a;
        }

        input.info:checked + .slider {
            background-color: #3de0f5;
        }

        input.warning:checked + .slider {
            background-color: #FFC107;
        }

        input.danger:checked + .slider {
            background-color: #f44336;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }
        .slider.round:before {
            border-radius: 50%;
        }
    </style>
}
<div class="page-header">
    <div class="row">
    </div>
</div>
<div class="card m-b-30">
    <div class="card-body">
        <div class="">
            @if (CurrentAdminSession.HasAddPermission)
            {
                <a asp-area="Admin" asp-action="Create" asp-controller="Product" style="margin-bottom:20px;" class="btn btn-primary add-new"><i class="fa fa-plus"></i>  Add New</a>
            }
        </div>
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/CommonMessages.cshtml", Model.ModuleName)
        <div id="ProductGrid"></div><br />
        <div class="">
            @if (CurrentAdminSession.HasDeletePermission)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-secondary" title="Delete" onclick="return Check_CheckBox_Count('ProductID');"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
</div>
@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.all.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/SiteUrl.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
              if ('@Html.TempData["msg"]' == "verified") {
                        swal("Approved", "Product Is Approved", "success");
              }
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/Admin/Product/_AjaxBinding")",
                success: function (result) {
                    loadGrid(result);
                },
            });
          });
        function onApprove(id) {

            $.post("@Url.Content("~/Admin/Product/_Verified")", { id: id }, function (result) {
                if (result) {
                    window.location.reload();
                }
                else {
                    alert("Something Went Wrong!");
                }
            });
        }
        function onActive(id) {
            $.post("@Url.Content("~/Admin/Product/_IsActive")", { id: id }, function (result) {
                if (result) {
                    $.ajax({
                type: "POST",
                url: "@Url.Content("~/Admin/Product/_AjaxBinding")",
                success: function (result) {
                    loadGrid(result);
                },
            });
                }
            });
        }
        function loadGrid(results) {
            $("#ProductGrid").kendoGrid({
                dataSource: {
                    data: results,
                    cache: false,
                    schema: {
                        model: {
                            productID: "productID",
                            fields: {
                                Title: {
                                    type: "string"
                                }
                            },
                        }
                    },
                    pageSize: 10
                },
                editable: false,
                selectable: true,
                //height: 550,
                pageable: { refresh: true },
                groupable: true,
                sortable: true,
                filterable: true,
                refresh: true,
                    columns: [
                        {
                            title:"Delete",
                            width: 50,
                            headerTemplate: "<input type='checkbox' id='allCheckBox' name='allCheckBox' title='check all records' class='regular-checkbox' onclick='return initializeAllCheckBox();'/>",
                            template: "<input class='singleCheckBox' name='chkDelete' id='#= productID#' type='checkbox' value='#=productID#' onclick='return initializeSingleCheckBox(this);'>"
                        },
                        { field: "title", title: "Title" },
                        { field: "amount", title: "Amount", width:100 },
                        {
                            field: "coverImage",
                            title: "CoverImage",
                            width: 150,
                            template: "<div class='customer-photo center'" + "style='background-image: url(../ApplicationDocuments/Images/#=coverImage#);'></div>"
                        },
                        {
                            title: "IsApproved",
                            field: "approved",
                            template: "<button class='k-button' href='/Admin/Categories/Index' onclick='onApprove(#=productID#)'>#=approved#</button>",
                            width: 140,
                        },
                        {
                            title: "Status",
                            field: "isActive",
                            template: "<label class='switch'><input type='checkbox' # if (isActive == true){ #checked #} else {##:isActive# #}#  class='default' onchange='onActive(#=productID#)'/><span class='slider round'></span></label>",
                            width: 100,
                        },
                        {
                            field: "discountPercentage", title: "DiscountPercentage",
                        },
                        {
                            title: "Edit",
                            template: "# if ('@CurrentAdminSession.HasEditPermission' == 'True'){ # <a href='/Admin/Product/Edit?id=#=productID#'> #: 'Edit' # </a>#} else {##: ' N/A ' ##} #",
                            width: 100,
                        },
                        {
                            title: "Detail",
                            template: "# if ('@CurrentAdminSession.HasDetailPermission' == 'True'){ # <a href='/Admin/Product/Detail?id=#=productID#'> #:'Detail'# </a>#} else {##: ' N/A ' ##} #",
                            width: 100
                        },
                    ],
                editable: false
            });
        }
        function Check_CheckBox_Count(deleteName) {
            var $b = $('input[name=chkDelete]');
            var total_selected = $b.filter(':checked').length;
            if (total_selected > 0) {
                $.confirm({
                    title: 'Alert!',
                    content: 'Are you sure? Do you want to delete record(s)?',
                    type: 'red',
                    icon: 'fa fa-warning',
                    buttons: {
                        confirm: function () {
                            checked = [];
                            $("input[name=chkDelete]:checkbox").each(function () {
                                if (this.checked) {
                                    checked.push(this.value);
                                    var SiteBaseUrl = SiteUrl + "Admin/Product/Delete";
                                    $.post(SiteBaseUrl, { productID: checked }, function (result) {
                                        if (result) {
                                            window.location.reload();
                                        }
                                        else {
                                            alert("Something Went Wrong!");
                                        }
                                    });
                                }
                            });
                        },
                        cancel: function () {
                            return;
                        }
                    }
                });
            }
            else {
                alert("Please select at least one checkbox to delete.");
                return false;
            }
        }
    </script>
}