﻿@using Nota.Areas.Admin.Helpers 

    <div class="page-title-heading col-lg ">
        @ViewData["PageTitle"]
        <div class="page-title-subheading">
            <span>The Nota Music Player.</span>
        </div>
    </div>
    <div class="app-header-right">
        @*<div class="search-wrapper">
            <i class="search-icon-wrapper typcn typcn-zoom-outline"></i>
            <input type="text" placeholder="Search...">
        </div>
        <div class="header-btn-lg pr-0">
            <div class="header-dots">
            </div>
        </div>*@
        <div class="header-btn-lg pr-0">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="btn-group">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                <img width="42" class="rounded" src="~/assets/images/avatars/3.jpg" alt="">
                                <i class="fa fa-angle-down ml-2 opacity-8"></i>
                            </a>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
                                <div class="dropdown-menu-header">
                                    <div class="dropdown-menu-header-inner bg-info">
                                        <div class="menu-header-image opacity-2" style="background-image: url('~/assets/images/dropdown-header/city1.jpg');"></div>
                                        <div class="menu-header-content text-left">
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-3">
                                                        <img width="42" class="rounded-circle" src="~/assets/images/avatars/3.jpg" alt="">
                                                        @*<i class="fa fa-angle-down ml-2 opacity-8"></i>*@
                                                    </div>
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">
                                                            @if (CurrentAdminSession.User != null)
                                                            {
                                                                <span>@((CurrentAdminSession.FirstName ?? string.Empty) + " " + (CurrentAdminSession.LastName ?? string.Empty))</span>
                                                            }
                                                        </div>
                                                        <div class="widget-subheading opacity-8">
                                                            A short profile description
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-right mr-2" >
                                                        <form asp-action="Logout" asp-controller="Login" asp-area="Admin" method="post">
                                                            <button type="submit" class="btn-pill btn-shadow btn-shine btn btn-focus">
                                                                Logout
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="scroll-area-xs" style="height:150px;">
                                    <div class="scrollbar-container ps">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="DashBoard" asp-area="Admin" class="nav-link">
                                                    Home
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="ChangePassword" asp-controller="Profile" asp-area="Admin" class="nav-link">
                                                    Change Password
                                                </a>
                                            </li>                                            
                                        </ul>
                                    </div>
                                </div>
                                <ul class="nav flex-column">
                                    <li class="nav-item-divider mb-0 nav-item"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-header-overlay d-none animated fadeIn"></div>