﻿<!doctype html>
<html lang="en">
<!-- Mirrored from demo.dashboardpack.com/kero-html-sidebar-pro/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Aug 2020 06:06:56 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Added by HTTrack -->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
    <title>Analytics - This is an example dashboard created using build-in elements and components.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <link rel="icon" href="~/assets/images/favicon.ico" />
    <link rel="icon" href="~/assets/images/icons.gif" />
    <link rel="logo" href="~/assets/images/logo-inverse.png" />
    <link rel="logo" href="~/assets/images/logo.png" />
    <link rel="icon" href="~/assets/fonts/ionicons.svg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="icon" href="~/assets/fonts/ionicons.svg" />
    <link href="~/assets/css/Main.css" rel="stylesheet">
    @RenderSection("style", required: false)
</head>
<body>
    <div class="app-container app-theme-gray app-sidebar-full">
        <div class="app-main">
            <!--Left Side Bar-->
            <div class="app-sidebar-wrapper">
                <div class="app-sidebar sidebar-shadow">
                    <div class="app-header__logo">
                        <a asp-action="Index" asp-area="Admin" asp-controller="DashBoard" data-toggle="tooltip" data-placement="bottom" title="Nota Music Player"><h4>Nota</h4></a>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                    <div class="scrollbar-sidebar scrollbar-container">
                        <partial name="~/Areas/Admin/Views/Shared/_LeftSideBar.cshtml" />
                    </div>
                </div>
            </div>
            <div class="app-sidebar-overlay d-none animated fadeIn"></div>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-header">
                        <partial name="~/Areas/Admin/Views/Shared/_header.cshtml" />
                    </div>
                    <div class="app-inner-layout app-inner-layout-page">
                        <!--inner Sidebar-->
                        <div class="app-inner-layout__wrapper">
                            <div class="app-inner-layout__content">
                                <div class="tab-content">
                                    <div class="container-fluid">
                                        <div class="mb-3 card">
                                            @RenderBody()
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="app-wrapper-footer">
                    <partial name="~/Areas/Admin/Views/Shared/_footer.cshtml" />
                </div>
            </div>
        </div>
    </div>
    <div class="app-drawer-overlay d-none animated fadeIn"></div>
    <script type="text/javascript" src="~/assets/scripts/main.07a59de7b920cd76b874.js"></script>
    <script type="text/javascript" src="~/web-assets/js/jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
<!-- Mirrored from demo.dashboardpack.com/kero-html-sidebar-pro/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Aug 2020 06:07:38 GMT -->
</html>
