﻿@using Nota.Models
@using Nota.Areas.Admin.Helpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<div class="app-sidebar__inner">
    <ul class="vertical-nav-menu" id="vertical-nav-menu">
        @{
            if (HttpContextAccessor.HttpContext.Session.GetObject<IList<vwRolePrivileges>>("MainItems") != null)
            {
                var MainItem = HttpContextAccessor.HttpContext.Session.GetObject<IList<vwRolePrivileges>>("MainItems");
                foreach (vwRolePrivileges dtMainItem in (IList<vwRolePrivileges>)HttpContextAccessor.HttpContext.Session.GetObject<IList<vwRolePrivileges>>("MainItems"))
                {
                    <li>
                        <a href="javascript:void(0)"><i class="fas fa-clipboard-list"></i>@Html.Encode(Convert.ToString(dtMainItem.MenuItem))</a>
                        @if (((IList<vwRolePrivileges>)HttpContextAccessor.HttpContext.Session.GetObject<IList<vwRolePrivileges>>("MenuItems")).Where(x => x.ParentID == dtMainItem.MenuItemID).Count() > 0)
                        {
                            <ul>
                                @foreach (vwRolePrivileges dtMenuItemSecond in (IList<vwRolePrivileges>)HttpContextAccessor.HttpContext.Session.GetObject<IList<vwRolePrivileges>>("MenuItems"))
                                {
                                    if (dtMenuItemSecond.ParentID == dtMainItem.MenuItemID)
                                    {
                                        <li>
                                            @{
                                                IList<vwRolePrivileges> objMainMenu = (IList<vwRolePrivileges>)HttpContextAccessor.HttpContext.Session.GetObject<IList<vwRolePrivileges>>("MenuItems");
                                                var menulist = objMainMenu.Where(p => p.ParentID == dtMenuItemSecond.MenuItemID).ToList();
                                                if (menulist.Count > 0)
                                                {
                                                    <a href="javascript:;">@Html.Encode(Convert.ToString(dtMenuItemSecond.MenuItem))</a>
                                                    <ul>
                                                        @foreach (vwRolePrivileges dtMenuThird in menulist)
                                                        {
                                                            <li>
                                                                <a href="@Url.Content("~/Admin/"+ Convert.ToString(Html.Encode(Convert.ToString(dtMenuThird.MenuItemController)) + "/" + Html.Encode(Convert.ToString(dtMenuThird.MenuItemView))))">
                                                                    @Html.Encode(Convert.ToString(dtMenuThird.MenuItem))
                                                                </a>
                                                                <i class="metismenu-icon"></i>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Content("~/Admin/" + Convert.ToString(Html.Encode(Convert.ToString(dtMenuItemSecond.MenuItemController)) + "/" + Html.Encode(Convert.ToString(dtMenuItemSecond.MenuItemView))))">
                                                        @Html.Encode(Convert.ToString(dtMenuItemSecond.MenuItem))
                                                    </a>
                                                }
                                            }
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    </li>
                }
            }
        }
        <li>
            <a href="javascript:void(0)"><i class="fas fa-clipboard-list"></i>Chat </a>

            <ul>

                <li>

                    <a href="/Admin/Chat/Index">Open</a>



                </li>

            </ul>

        </li>
    </ul>
</div>