﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


 
    <section class="blog-banner-area" id="category">
        @if (ViewData["Librarytoggle"] != null)
        {
        <input id="selectiontag" type="hidden" value="@ViewData["Librarytoggle"]" />
        }
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Nota Library</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","UserDashboard")">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Nota Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->
    <!-- ================ category section start ================= -->
    <section class="section-margin--small mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="sidebar-categories">
                        <div class="head">Browse Categories</div>
                        <ul class="main-categories">
                            <li class="common-filter">
                                <form action="#">
                                    <ul>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="mp3" value="MP3" name="brand"><label for="men">MP3</label></li>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="lyrics" value="Lyrics" name="brand"><label for="lyrics">Lyrics</label></li>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="notes" value="Notes" name="brand"><label for="notes">Notes</label></li>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="all" value="All" name="brand"><label for="footwear">All</label></li>

                                    </ul>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-categories">
                        <div class="head">Browse Pricing</div>
                        <ul class="main-categories">
                            <li class="common-filter">
                                <form action="#">
                                    <ul>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="free" value="Free" name="brand"><label for="men">Free</label></li>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="premium" value="$" name="brand"><label for="lyrics">Premium</label></li>
               

                                    </ul>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <!-- Start Filter Bar -->
                   
                    <div class="filter-bar d-flex flex-wrap align-items-center">
                        <!--<div class="sorting">
        <select>
            <option value="1">Default sorting</option>
            <option value="1">Default sorting</option>
            <option value="1">Default sorting</option>
        </select>
    </div>-->
                        <!-- <div class="sorting mr-auto">
            <select>
                <option value="1">Show 12</option>
                <option value="1">Show 12</option>
                <option value="1">Show 12</option>
            </select>
        </div> -->
                        <div>
                            <div class="input-group filter-bar-search">
                                <input type="text" id="filter" placeholder="Search">
                                <div class="input-group-append">
                                    <button type="button"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>
    </div>
    <!-- End Filter Bar -->
                        <!-- Start Best Seller -->
                        <section id="itemslist1" class="lattest-product-area pb-40 category-list">
                            <div id="itemslist" class="row">


                            </div>
                        </section>
                        <!-- End Best Seller -->
                    </div>
            </div>
        </div>
    </section>



@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script type="text/javascript">
        var options = {
            valueNames: ['type', 'title']
        };

      //  var userList = new List('itemslist', options);
        $(document).ready(function () {
           // alert($("#selectiontag").val());
       
            $("#mp3").change(function () {
              var filter = $(this).val(),
                  count = 0;
                  $('#itemslist div').each(function() {

                      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                          if ($(this).attr('class') == "card-product__img") {
                          }
                          else {
                              $(this).hide();
                          }// MY CHANGE
                      $(this).find( "#img" ).css( "display", "" );
                    } else {
                      $(this).show(); // MY CHANGE
                      count++;
                    }

                  });
                //$(this).find( "#img" ).css( "display", "" );
            });
            $("#lyrics").change(function () {
              var filter = $(this).val(),
                  count = 0;
                  $('#itemslist div').each(function() {

                      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                          if ($(this).attr('class') == "card-product__img") {
                          }
                          else {
                              $(this).hide();
                          }// MY CHANGE
                      $(this).find( "#img" ).css( "display", "" );
                    } else {
                      $(this).show(); // MY CHANGE
                      count++;
                    }

                  });
                //$(this).find( "#img" ).css( "display", "" );
             });
            $("#notes").change(function () {
              var filter = $(this).val(),
                  count = 0;
                  $('#itemslist div').each(function() {

                      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                          if ($(this).attr('class') == "card-product__img") {
                          }
                          else {
                              $(this).hide();
                          }// MY CHANGE
                      $(this).find( "#img" ).css( "display", "" );
                    } else {
                      $(this).show(); // MY CHANGE
                      count++;
                    }

                  });
                //$(this).find( "#img" ).css( "display", "" );
            });
            $("#all").change(function () {
              var filter = $(this).val(),
                  count = 0;
                  $('#itemslist div').each(function() {

                      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                          if ($(this).attr('class') == "card-product__img") {
                          }
                          else {
                              $(this).show();
                          }// MY CHANGE
                      $(this).find( "#img" ).css( "display", "" );
                    } else {
                      $(this).show(); // MY CHANGE
                      count++;
                    }

                  });
                //$(this).find( "#img" ).css( "display", "" );
            });
            $("#free").change(function () {
              var filter = $(this).val(),
                  count = 0;
                  $('#itemslist div').each(function() {

                      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                          if ($(this).attr('class') == "card-product__img") {
                          }
                          else {
                              $(this).hide();
                          }// MY CHANGE
                      $(this).find( "#img" ).css( "display", "" );
                    } else {
                      $(this).show(); // MY CHANGE
                      count++;
                    }

                  });
                //$(this).find( "#img" ).css( "display", "" );
            });
            $("#premium").change(function () {
              var filter = $(this).val(),
                  count = 0;
                  $('#itemslist div').each(function() {

                      if ($(this).text().search(new RegExp("Free", "i")) < 0) {
                          if ($(this).attr('class') == "card-product__img") {

                          }
                          else {
                             
                          }// MY CHANGE
                      $(this).find( "#img" ).css( "display", "" );
                    } else {
                      $(this).hide(); // MY CHANGE
                      count++;
                    }

                  });
                //$(this).find( "#img" ).css( "display", "" );
            });
            $("#filter").keyup(function() {
                       // alert("zain");
                  var filter = $(this).val(),
                  count = 0;
                  $('#itemslist div').each(function() {

                      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                          if ($(this).attr('class') == "card-product__img") {
                          }
                          else {
                              $(this).hide();
                          }// MY CHANGE
                      $(this).find( "#img" ).css( "display", "" );
                    } else {
                      $(this).show(); // MY CHANGE
                      count++;
                    }

                  });

            });
             $.ajax({
                type: "GET",
                url: '@Url.Action("GetAll","Library")',
                success: function (data) {
                    // alert("Data has been added successfully.");
                    var listgrid = $("#itemslist");
                  // alert(JSON.stringify(data));
                    $.each(data.data, function (i, item) {
                        var filetype = "";
                        if (item.categoriesID == 1) {
                            filetype = "Notes";
                        }
                        else if (item.categoriesID == 2) {
                            filetype = "Mp3";
                        }
                        else {
                            filetype = "Lyrics";
                        }
                        if (item.priceType == 1 && item.addedstatus==false) {
                            //listgrid.append(' <a href="#" class="list-group-item"> <div class="row"> <div class="col-md-8"> <img src="https://gravatar.com/avatar/ff3265b13420b9d301d0005ef494385a?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" class="pull-left photo"> <p class="list-group-item-text title text-secondary"> ' + item.title + '</p> <span class="list-group-item-text title text-secondary">' + item.description + '</span>  </div>  <div class="col-md-2"><div class="expertise"><div class="read-more"><button type="button" class="ms_btn">Add to Cart &nbsp; <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button> <button type="button" class="ms_btn">Add to Cart &nbsp; <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button> </div> <span class="expertise-label text-secondary">'+filetype +'&nbsp;</span><p class="labels"><span class="label label-default expertise text-secondary">Price</span><span class="label label-default expertise ml-5"></span><span class="label label-default expertise text-secondary">Free</span></p></div></div><div class="clearfix"></div></div></a>');
                            listgrid.append('<div class="col-md-6 col-lg-4"><div class="card text-center card-product"><div id="img" class="card-product__img"><img class="card-img" src=@Url.Content("~/aroma/img/product/product1.png") alt=""><ul class="card-product__imgOverlay"><li><button><a  href="@Url.Action("ViewItem","Cart")?id='+item.productID+'"><i class="ti-search"></i></a></button></li><li><button><a  href="@Url.Action("AddItem","Cart")?id='+item.productID+'"><i class="ti-shopping-cart"></i></a></button></li> <li><button><i class="ti-heart"></i></button></li></ul></div><div class="card-body"><p data-sort="type">'+filetype+'</p><h4 class="card-product__title"><a href="#" data-sort="title">'+item.title+'</a></h4><p class="card-product__price">Free</p> </div></div></div>');
                        }
                        else if (item.priceType == 1 && item.addedstatus==true) {
                            //listgrid.append(' <a href="#" class="list-group-item"> <div class="row"> <div class="col-md-8"> <img src="https://gravatar.com/avatar/ff3265b13420b9d301d0005ef494385a?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" class="pull-left photo"> <p class="list-group-item-text title text-secondary"> ' + item.title + '</p> <span class="list-group-item-text title text-secondary">' + item.description + '</span>  </div>  <div class="col-md-2"><div class="expertise"><div class="read-more"><button type="button" class="ms_btn">Add to Cart &nbsp; <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button> <button type="button" class="ms_btn">Add to Cart &nbsp; <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button> </div> <span class="expertise-label text-secondary">'+filetype +'&nbsp;</span><p class="labels"><span class="label label-default expertise text-secondary">Price</span><span class="label label-default expertise ml-5"></span><span class="label label-default expertise text-secondary">Free</span></p></div></div><div class="clearfix"></div></div></a>');
                            listgrid.append('<div class="col-md-6 col-lg-4"><div class="card text-center card-product"><div id="img"  class="card-product__img"><img class="card-img" src=@Url.Content("~/aroma/img/product/product1.png") alt=""><ul class="card-product__imgOverlay"><li><button><a  href="@Url.Action("ViewItem","Cart")?id='+item.productID+'"><i class="ti-search"></i></a></button></li> <li><button><i class="ti-heart"></i></button></li></ul></div><div class="card-body"> <div class="bg-success"><h6 class="">Added In Cart</h6></div><p data-sort="type">'+filetype+'</p><h4 class="card-product__title"><a href="#" data-sort="title">'+item.title+'</a></h4><p class="card-product__price">Free</p> </div></div></div>');
                        }
                        else if (item.priceType == 2 && item.addedstatus==true) {
                            //listgrid.append(' <a href="#" class="list-group-item"> <div class="row"> <div class="col-md-8"> <img src="https://gravatar.com/avatar/ff3265b13420b9d301d0005ef494385a?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" class="pull-left photo"> <p class="list-group-item-text title text-secondary"> ' + item.title + '</p> <span class="list-group-item-text title text-secondary">' + item.description + '</span>  </div>  <div class="col-md-2"><div class="expertise"><div class="read-more"><button type="button" class="ms_btn">Add to Cart &nbsp; <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button> <button type="button" class="ms_btn">Add to Cart &nbsp; <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button> </div> <span class="expertise-label text-secondary">'+filetype +'&nbsp;</span><p class="labels"><span class="label label-default expertise text-secondary">Price</span><span class="label label-default expertise ml-5"></span><span class="label label-default expertise text-secondary">Free</span></p></div></div><div class="clearfix"></div></div></a>');
                            listgrid.append('<div class="col-md-6 col-lg-4"><div class="card text-center card-product"><div id="img"  class="card-product__img"><img class="card-img" src=@Url.Content("~/aroma/img/product/product1.png") alt=""><ul class="card-product__imgOverlay"><li><button><a  href="@Url.Action("ViewItem","Cart")?id='+item.productID+'"><i class="ti-search"></i></a></button></li> <li><button><i class="ti-heart"></i></button></li></ul></div><div class="card-body"> <div class="bg-success"><h6 class="">Added In Cart</h6></div><p data-sort="type">'+filetype+'</p><h4 class="card-product__title"><a href="#" data-sort="title">'+item.title+'</a></h4><p class="card-product__price">Free</p> </div></div></div>');
                        }
                        else {
                            //listgrid.append(' <a href="#" class="list-group-item"> <div class="row"> <div class="col-md-8"> <img src="https://gravatar.com/avatar/ff3265b13420b9d301d0005ef494385a?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" class="pull-left photo"> <p class="list-group-item-text title text-secondary"> ' + item.title + '</p> <span class="list-group-item-text title text-secondary">' + item.description + '</span>  </div>  <div class="col-md-2"><div class="expertise"><div class="read-more"><button type="button" class="ms_btn">Add to Cart &nbsp; <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button></div> <span class="expertise-label text-secondary">'+filetype+' &nbsp;</span><p class="labels"><span class="label label-default expertise text-secondary">Price</span><span class="label label-default expertise ml-5"></span><span class="label label-default expertise text-secondary">' + item.amount + '</span></p></div></div><div class="clearfix"></div></div></a>');
                            listgrid.append('<div class="col-md-6 col-lg-4"><div class="card text-center card-product"><div id="img"  class="card-product__img"><img class="card-img" src=@Url.Content("~/aroma/img/product/product1.png") alt=""><ul class="card-product__imgOverlay"><li><button><a  href="@Url.Action("ViewItem","Cart")?id='+item.productID+'"><i class="ti-search"></i></a></button></li><li><button><a href="@Url.Action("AddItem","Cart")?id='+item.productID+'"><i class="ti-shopping-cart"></i></a></button></li> <li><button><i class="ti-heart"></i></button></li></ul></div><div class="card-body"><p data-sort="type">'+filetype+'</p><h4 class="card-product__title"><a href="#" data-sort="title">'+item.title+'</a></h4><p class="card-product__price">$'+item.amount+'</p> </div></div></div>');
                        }//alert("test");
                                    //alert(item.PageName);
                    });
                         if ($("#selectiontag").val() == "mp3") {
                 var filter = "mp3",
                  count = 0;
                  $('#itemslist div').each(function() {

                      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                          if ($(this).attr('class') == "card-product__img") {
                          }
                          else {
                              $(this).hide();
                          }// MY CHANGE
                      $(this).find( "#img" ).css( "display", "" );
                    } else {
                      $(this).show(); // MY CHANGE
                      count++;
                    }

                  });
            }
            else if ($("#selectiontag").val() == "notes") {
                 var filter = "notes",
                  count = 0;
                  $('#itemslist div').each(function() {

                      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                          if ($(this).attr('class') == "card-product__img") {
                          }
                          else {
                              $(this).hide();
                          }// MY CHANGE
                      $(this).find( "#img" ).css( "display", "" );
                    } else {
                      $(this).show(); // MY CHANGE
                      count++;
                    }

                  });
            }
            else if ($("#selectiontag").val() == "lyrics") {
                 var filter = "lyrics",
                  count = 0;
                  $('#itemslist div').each(function() {

                      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                          if ($(this).attr('class') == "card-product__img") {
                          }
                          else {
                              $(this).hide();
                          }// MY CHANGE
                      $(this).find( "#img" ).css( "display", "" );
                    } else {
                      $(this).show(); // MY CHANGE
                      count++;
                    }

                  });
            }
            else {
                
            }
                    //LoadData();
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
        });
    </script>
}