﻿@model Nota.Areas.User.Models.UserProductModel
@using Nota.Areas.User.EnumType
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .customer-photo {
        display: table;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background-size: 148px 148px;
        background-position: center center;
        vertical-align: middle;
        line-height: 50px;
        box-shadow: inset 0 0 5px #999, inset 0 0 20px rgba(0,0,0,.2);
        margin-left: 50px;
    }
</style>
<body>
    <div class="ms_profile_wrapper">
        <h1>My Upload Detail</h1>
        <div class="ms_profile_box">
            <form asp-area="User" asp-action="Detail" asp-controller="MyUpload" id="basic-form" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(Model => Model.UserProductID)
                <div class="ms_pro_form">
                    <div class="ms_pro_img">
                        <img alt="" style='background-image: url(/ApplicationDocuments/Images/@Model.ImageName);' class="customer-photo center img-fluid">
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <label>Title<span class="mandatory">*</span> </label>
                        <input readonly asp-for="Title" placeholder="Enter Title" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                        <span asp-validation-for="Title" class="text-white"></span>
                    </div>
                    <div class="form-group">
                        <label>Description<span class="mandatory">*</span> </label>
                        <input readonly asp-for="Description" placeholder="Enter Description" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                        <span asp-validation-for="Description" class="text-white"></span>
                    </div>
                    <div class="form-group">
                        <label>Upload Type<span class="mandatory">*</span> </label><br />
                        <input readonly id="switch-one" asp-for="UploadType" type="radio" value="@((Int16)UploadTypeEnum.Notes)" name="UploadType" data-toggle="switchbutton" tabindex="8"><lab1>  Notes</lab1>
                        <input readonly id="switch-two" asp-for="UploadType" type="radio" value="@((Int16)UploadTypeEnum.Music)" name="UploadType" data-toggle="switchbutton" tabindex="8"><lab1>  Music</lab1>
                        <input readonly id="switch-three" asp-for="UploadType" type="radio" value="@((Int16)UploadTypeEnum.Lyrics)" name="UploadType" data-toggle="switchbutton" tabindex="8"><lab1>  Lyrics</lab1><br />
                        <span asp-validation-for="UploadType" class="text-white"></span>
                    </div>
                    <div class="form-group">
                        <label>Price Type<span class="mandatory">*</span> </label><br />
                        <input readonly id="switch-three" asp-for="PriceType" type="radio" value="@((Int16)PriceTypeEnum.Free)" name="PriceType" data-toggle="switchbutton" data-onlabel="Active" data-offlabel="Inactive" tabindex="8"><lab1>  Free</lab1>
                        <input readonly id="switch-three" asp-for="PriceType" type="radio" value="@((Int16)PriceTypeEnum.Premium)" name="PriceType" data-toggle="switchbutton" data-onlabel="Active" data-offlabel="Inactive" tabindex="8"><lab1>  Premium</lab1><br />
                        <span asp-validation-for="PriceType" class="text-white"></span>
                    </div>
                    <div class="form-group">
                        <label>Categories <span class="mandatory">*</span> </label>
                        <select disabled asp-for="CategoriesID" asp-items="Model.SelectCategories" class="form-control parsley-error" tabindex="7">
                            <option value="">-- Select Categories --</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Discount Percentage<span class="mandatory"></span> </label>
                        <input readonly asp-for="DiscountPercentage" placeholder="Enter Discount Percentage" type="text" class="form-control parsley-error" data-parsley-id="29">
                    </div>
                    <div id="divamount" class="form-group">
                        <label>Amount<span class="mandatory">*</span> </label>
                        <input readonly id="amount" asp-for="Amount" placeholder="Enter Amount" type="number" class="form-control parsley-error" data-parsley-id="29">
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group"></div>
                    <div class="center">
                        <a asp-area="User" asp-action="Index" asp-controller="MyUpload" class="ms_btn">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#amount").on(function () {
                if ($(this).has(":data")) {
                }
                else {
                    $("#divamount").hide();
                }
            });
        });
    </script>
}