﻿@model Nota.Areas.User.Models.UserProductModel
@using Nota.Areas.Admin.EnumType
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
@section style{
    <!-- font -->
    <link href="~/fileuploader/font/font-fileuploader.css" media="all" rel="stylesheet" />
    <!-- css -->
    <link href="~/fileuploader/jquery.fileuploader.min.css" media="all" rel="stylesheet" />
    <link href="~/fileuploader/font/Script.css" media="all" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,7001" rel="stylesheet" />
    <style type="text/css">
        .fileuploader {
            max-width: 560px;
        }
    </style>
}

<div class="ms_profile_wrapper">
    <h1>Edit Product</h1>
    <div class="ms_profile_box">
        <form asp-area="User" asp-action="Edit" asp-controller="MyUpload" id="basic-form" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(Model => Model.ProductID)
            <div class="ms_pro_form">
                <div class="form-group">
                    <label>Title<span class="mandatory"> *</span></label>
                    <input asp-for="Title" placeholder="Enter Title" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                    <span asp-validation-for="Title" class="text-white"></span>
                </div>
                <div class="form-group">
                    <label>Description<span class="mandatory"> *</span></label>
                    <input asp-for="Description" placeholder="Enter Description" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                    <span asp-validation-for="Description" class="text-white"></span>
                </div>
                <div class="form-group">
                    <label>Upload Type<span class="mandatory"> *</span></label><br />
                    <input disabled id="switch-one" asp-for="UploadType" type="radio" value="@((Int16)UploadTypeEnum.Notes)" name="UploadType" data-toggle="switchbutton" tabindex="8"><lab1>  Notes</lab1>
                    <input disabled id="switch-two" asp-for="UploadType" type="radio" value="@((Int16)UploadTypeEnum.Music)" name="UploadType" data-toggle="switchbutton" tabindex="8"><lab1>  Music</lab1>
                    <input disabled id="switch-three" asp-for="UploadType" type="radio" value="@((Int16)UploadTypeEnum.Lyrics)" name="UploadType" data-toggle="switchbutton" tabindex="8"><lab1>  Lyrics</lab1><br />
                    <span asp-validation-for="UploadType" class="text-white"></span>
                </div>
                <div class="form-group">
                    <label>Price Type<span class="mandatory"> *</span></label><br />
                    <input disabled id="freechkbox" asp-for="PriceType" type="radio" value="@((Int16)PriceTypeEnum.Free)" name="PriceType" data-toggle="switchbutton" data-onlabel="Active" data-offlabel="Inactive" tabindex="8"><lab1>  Free</lab1>
                    <input disabled id="premium" asp-for="PriceType" type="radio" value="@((Int16)PriceTypeEnum.Premium)" name="PriceType" data-toggle="switchbutton" data-onlabel="Active" data-offlabel="Inactive" tabindex="8"><lab1>  Premium</lab1><br />
                    <span asp-validation-for="PriceType" class="text-white"></span>
                </div>
                <div class="form-group">
                    <label>Categories <span class="mandatory"> *</span> </label>
                    <select disabled asp-for="CategoriesID" asp-items="Model.SelectCategories" class="form-control parsley-error" tabindex="7">
                        <option value="">-- Select Categories --</option>
                    </select>
                </div>
                <div class="form-group" id="discount">
                    <label>Discount Percentage<span class="mandatory"></span></label>
                    <input asp-for="DiscountPercentage"  placeholder="Enter Discount Percentage" type="text" class="form-control parsley-error" data-parsley-id="29">
                </div>
                <div class="form-group" id="amount">
                    <label>Amount<span class="mandatory"> *</span></label>
                    <input asp-for="Amount"  placeholder="Enter Amount" type="number" class="form-control parsley-error" data-parsley-id="29">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group"></div>
                <div class="form-group" id="dvFileUpload">
                    <input type="file" id="Notes" name="Attachments" data-fileuploader-files="@Model.ProductDetail" class="files" />
                    <input type="file" id="Mp3" name="Attachments" data-fileuploader-files="@Model.ProductDetail" class="files" />
                    <input type="file" id="Lyrics" name="Attachments" data-fileuploader-files="@Model.ProductDetail" class="files" />
                    @*<input type="file" id="Attachments" name="Attachments" data-fileuploader-files="@Model.ProductDetail" class="files" />*@
                </div>
                <div class="form-group"></div>
                <div class="form-group">
                    <button type="submit" class="ms_btn" title="Save">Save</button>
                    <button type="button" onclick="window.location='/User/MyUpload'" class="ms_btn">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    @*<script src="https://innostudio.de/fileuploader/js/script.js" type="text/javascript"></script>
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-105607707-1" type="text/javascript"></script>*@
    <script src="~/fileuploader/jquery.fileuploader.min.js" type="text/javascript"></script>
    @*<script src="~/fileuploader/Script.js" type="text/javascript"></script>
    <script src="~/fileuploader/Script1.js" type="text/javascript"></script>
    <script src="~/fileuploader/fileuploader.js" type="text/javascript"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            window.onload = function () {
                debugger;
                if (@Model.PriceType == 1) {
                    $("#amount").hide();
                    $("#discount").hide();
                }
                if (@Model.UploadType == 1) {
                 
                    $("#dvFileUpload").children(":last").hide();
                    $("#dvFileUpload").children(":nth-child(2)").hide();
                }
                else if (@Model.UploadType == 2) {
                    $("#dvFileUpload").children(":last").hide();
                    $("#dvFileUpload").children(":first").hide();
                    $("#dvFileUpload").children(":nth-child(2)").show();
                }
                else if (@Model.UploadType == 3) {
                    $("#dvFileUpload").children(":nth-child(2)").hide();
                    $("#dvFileUpload").children(":first").hide();
                    $("#dvFileUpload").children(":last").show();
                }
            }
            //$('input[name="Attachments"]').fileuploader({
            //    inputNameBrackets: false,
            //    limit: 20,
            //    maxSize: 50,
            //    extensions: ['image/*', 'audio/*', 'pdf/*'],
            //    addMore: true,
            //    // Callback fired on selecting and processing a file
            //    onSelect: function (item, listEl, parentEl, newInputEl, inputEl) {
            //        // callback will go here
            //        //fileValidation();
            //        //return false;
            //    },
            //    thumbnails: {
            //        onImageLoaded: function (item) {
            //            if (!item.html.find('.fileuploader-action-edit').length)
            //                item.html.find('.fileuploader-action-remove').before('<button type="button" class="fileuploader-action fileuploader-action-popup fileuploader-action-edit" title="Edit"><i class="fileuploader-icon-edit"></i></button>');
            //        }
            //    },
            //    editor: {
            //        cropper: {
            //            ratio: '1:1',
            //            minWidth: 100,
            //            minHeight: 100,
            //            showGrid: true
            //        }
            //    }
            //});
            $('input[id="Notes"]').fileuploader({
                inputNameBrackets: false,
                limit: 10,
                maxSize: 5,
                extensions: ['jpeg', 'png', 'jpg'],
                addMore: true,
                thumbnails: {
                    onImageLoaded: function (item) {
                        if (!item.html.find('.fileuploader-action-edit').length)
                            item.html.find('.fileuploader-action-remove').before('<button type="button" class="fileuploader-action fileuploader-action-popup fileuploader-action-edit" title="Edit"><i class="fileuploader-icon-edit"></i></button>');
                    }
                },
                editor: {
                    cropper: {
                        ratio: '1:1',
                        minWidth: 100,
                        minHeight: 100,
                        showGrid: true
                    }
                }

            });


            $('input[id="Mp3"]').fileuploader({
                inputNameBrackets: false,
                limit: 2,
                maxSize: 10,
                extensions: ['mp3'],
                addMore: true,
                thumbnails: {
                    onImageLoaded: function (item) {
                        if (!item.html.find('.fileuploader-action-edit').length)
                            item.html.find('.fileuploader-action-remove').before('<button type="button" class="fileuploader-action fileuploader-action-popup fileuploader-action-edit" title="Edit"><i class="fileuploader-icon-edit"></i></button>');
                    }
                }
            });

            $('input[id="Lyrics"]').fileuploader({
                inputNameBrackets: false,
                limit: 2,
                maxSize: 10,
                extensions: ['pdf'],
                addMore: true,
                thumbnails: {
                    onImageLoaded: function (item) {
                        if (!item.html.find('.fileuploader-action-edit').length)
                            item.html.find('.fileuploader-action-remove').before('<button type="button" class="fileuploader-action fileuploader-action-popup fileuploader-action-edit" title="Edit"><i class="fileuploader-icon-edit"></i></button>');
                    }
                }
            });
            //window.dataLayer = window.dataLayer || [];
            //window.dataStorage = window.dataStorage || {};
            //function gtag() { dataLayer.push(arguments); }
            //function g_tag_fn() { window[gtag_comment](gtag2); }

            //gtag('js', new Date());
            //gtag('config', 'UA-105607707-1');
            //g_tag_fn('version', 'google.v1');

            
        });
    </script>
}