﻿@model Nota.Areas.User.Models.UserProductModel
@using Nota.Helpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
@section style{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
}
<div class="header">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
</div>
<div class="ms_profile_wrapper">
    <h1>My Uploads</h1>
    <div class="row">
        <a asp-area="User" asp-action="Create" asp-controller="UserProduct" style="margin-bottom:20px;" class="ms_lang_btn"><i class="fa fa-plus"></i> New Upload </a>
        <div class="ms_pro_form">
            <div id="ProductGrid"></div>
        </div>
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/CommonMessages.cshtml", Model.ModuleName)
    </div><br />
    <a class="ms_btn" asp-action="Index" asp-controller="UserDashboard" asp-area="User">Back</a>
</div>
<div class="row">
    <div class="col-sm-12">
    </div>
</div>
<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 43px;
    }
</style>
@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.all.min.js"></script>
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/SiteUrl.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@Html.TempData["msg"]'== "updated") {
                swal("Updated!", "Your Product is Successfully Updated.", "success");
            }
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/User/MyUpload/_AjaxBinding")",
                success: function (result) {
                    loadGrid(result);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
          });
        function loadGrid(results) {
            $("#ProductGrid").kendoGrid({
                dataSource: {
                    data: results,
                    cache: false,
                    schema: {
                        model: {
                            productID: "productID",
                            fields: {
                                Title: {
                                    type: "string"
                                }
                            },
                        }
                    },
                    pageSize: 10
                },
                editable: false,
                selectable: true,
                //height: 550,
                pageable: { refresh: true },
                groupable: true,
                sortable: true,
                filterable: true,
                refresh: true,
                    columns: [
                        //{
                        //    title:"Delete",
                        //    width: 50,
                        //    headerTemplate: "<input type='checkbox' id='allCheckBox' name='allCheckBox' title='check all records' class='regular-checkbox' onclick='return initializeAllCheckBox();'/>",
                        //    template: "<input class='singleCheckBox' name='chkDelete' id='#= userProductID#' type='checkbox' value='#=userProductID#' onclick='return initializeSingleCheckBox(this);'>"
                        //},
                        { field: "title", title: "Title"},
                        { field: "amount", title: "Amount"},
                        {
                            field: "coverImage",
                            title: "CoverImage",
                            width: 150,
                            template: "<div class='customer-photo center'" + "style='background-image: url(../ApplicationDocuments/Images/#=coverImage#);'></div>"
                        },
                        {
                            field: "discountPercentage", title: "DiscountPercentage",
                        },
                        {
                            field: "approved", title: "IsApproved",
                        },
                        {
                            title: "Edit",
                            template: "<a href='/User/MyUpload/Edit?id=#=productID#'> Edit </a>",
                            width: 100
                        },
                        {
                            title: "Detail",
                            template: "<a href='/User/MyUpload/Detail?id=#=productID#'> Detail </a>",
                            width: 100
                        },
                    ],
                editable: false
            });
        }
        function Check_CheckBox_Count(deleteName) {
            var $b = $('input[name=chkDelete]');
            var total_selected = $b.filter(':checked').length;
            if (total_selected > 0) {
                $.confirm({
                    title: 'Alert!',
                    content: 'Are you sure? Do you want to delete record(s)?',
                    type: 'red',
                    icon: 'fa fa-warning',
                    buttons: {
                        confirm: function () {
                            checked = [];
                            $("input[name=chkDelete]:checkbox").each(function () {
                                if (this.checked) {
                                    checked.push(this.value);
                                    var SiteBaseUrl = SiteUrl + "Admin/MyUpload/Delete";
                                    $.post(SiteBaseUrl, { productID: checked }, function (result) {
                                        if (result) {
                                            window.location.reload();
                                        }
                                        else {
                                            alert("Something Went Wrong!");
                                        }
                                    });
                                }
                            });
                        },
                        cancel: function () {
                            return;
                        }
                    }
                });
            }
            else {
                alert("Please select at least one checkbox to delete.");
                return false;
            }
        }
    </script>
}