﻿@model Nota.ViewModel.ProductImageViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ms_weekly_wrapper" onload="music()" id="music">
    <div class="ms_weekly_inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="ms_heading">
                    <h1>Music</h1>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 padding_right40" id="dvHtml">
                @*<div class="ms_weekly_box">
                    <div class="weekly_left">
                        <span class="w_top_no">
                            01
                        </span>
                        <div class="w_top_song">
                            <div class="w_tp_song_img " id="image">
                                <img src="~/web-assets/images/weekly/song1.jpg" alt="" class="img-fluid">
                                <div class="ms_song_overlay">
                                </div>
                                <div class="ms_play_icon">
                                    <img src="~/web-assets/images/svg/play.svg" alt="">
                                </div>
                            </div>
                            <div class="w_tp_song_name" id="name">
                                <h3><a href="#">Until I Met You</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="weekly_right">
                        <span class="w_song_time">5:10</span>
                        <span class="ms_more_icon" data-other="1">
                            <img src="~/web-assets/images/svg/more1.svg" alt="">
                        </span>
                    </div>
                    <ul class="more_option">
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                    </ul>
                </div>*@
            </div>
        </div>
        <br /><br /><br />
        <div class="row">
            <div class="col-lg-12">
                <div class="ms_heading">
                    <h1>Notes</h1>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 padding_right40" id="notehtml">
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            @*$.ajax({
                type: "GET",
                url: "@Url.Content("~/Home/_GetMusic")",
                datatype: JSON,
                success: function (result) {
                    var dvHtml = "";
                    for (var i = 0; i < result.length; i++) {
                        dvHtml += "<div class='ms_weekly_box'><div class='weekly_left'><span class='w_top_no'>" + [i + 1] + "</span><div class='w_top_song'><div class='w_tp_song_img'><img src='/ApplicationDocuments/Images/" + result[i].coverImage + "' alt='' class='img-fluid'><div class='ms_song_overlay'></div><div class='ms_play_icon'><button type='button' class='music-link' data-mp3='http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3'><img src='/web-assets/images/svg/play.svg' alt=''></button></div></div><div class='w_tp_song_name'><h3><a href=''>" + result[i].title + "</a></h3><p>" + result[i].description + "</p></div></div></div><div class='weekly_right'><span class='w_song_time'>5.19</span></div></div>";
                    }
                    ;
                    $('#dvHtml').append(dvHtml);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
            $('.music-link').on('click', function () {
                alert("error");
                var mp3 = $(this).attr('data-mp3');
                $('#jquery_jplayer_1').jPlayer('setMedia', { mp3: mp3 }), jPlayer('play');
            });*@
                 $.ajax({
                    type: "GET",
                    url: "@Url.Content("~/Home/_GetNotes")",
                    datatype: JSON,
                      success: function (result) {
                        console.log(result.coverImage);
                        var notehtml = "";
                        for (var i = 0; i < result.length; i++) {

                            //var image = "<img src='~/ApplicationDocuments/Images/" + result[i].coverImage + "' alt='' class='img-fluid' />";
                            //var name = "<h3><a href=''>" + result[i].title + "</a></h3>";
                            notehtml += "<div class='ms_weekly_box'><div class='weekly_left'><span class='w_top_no'>" + [i + 1] + "</span><div class='w_top_song'><div class='w_tp_song_img'><img src='/ApplicationDocuments/Images/" + result[i].coverImage + "' alt='' class='img-fluid'><div class='ms_song_overlay'></div><div class='ms_play_icon'><a class='music-link' data-mp3='http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3'><img src='/web-assets/images/svg/play.svg' alt=''></a></div></div><div class='w_tp_song_name'><h3><a href=''>" + result[i].title + "</a></h3><p>" + result[i].description + "</p></div></div></div><div class='weekly_right'><span class='w_song_time'>5.11</span></div></div>";
                        }
                          $('#notehtml').append(notehtml);
                    },
                    error: function (req, status, error) {
                        alert(error);
                    }
                });
        });
    </script>
}