﻿
@{
    Layout = null;
}

</html>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Register Boxed - Kero HTML Bootstrap 4 Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Kero HTML Bootstrap 4 Dashboard Template">
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link href="~/assets/css/Main.css" rel="stylesheet">
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100 bg-premium-dark">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="mx-auto app-login-box col-md-8">
                        <div class="app-logo-inverse mx-auto mb-3"></div>
                        <div class="modal-dialog w-100">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h5 class="modal-title">
                                        <h4 class="mt-2">
                                            <div></div>
                                            <span>Your Email is Successfully Verified.</span>
                                        </h4>
                                    </h5>
                                </div>
                                <form asp-action="Email Verified" asp-controller="Home" method="post">
                                    <div class="modal-footer d-block text-center">
                                        <button type="submit" asp-action="EmailVerified" asp-controller="Home" class="btn btn-outline-primary btn-lg btn-block">
                                            <i class="fa fa-sign-in"></i> Login
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="text-center text-white opacity-8 mt-3">Copyright © Digital Vichar Technologies 2020</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript" src="~/assets/scripts/main.07a59de7b920cd76b874.js"></script>
</body>
<!-- Mirrored from demo.dashboardpack.com/kero-html-sidebar-pro/pages-register-boxed.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Aug 2020 06:09:28 GMT -->
</html>
