﻿@model Nota.Areas.Admin.Models.UserModel
@using Nota.Areas.Admin.Helpers
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content mt-3">
            <div class="card-body">
                @using (Html.BeginForm("Edit", "ManageUser", FormMethod.Post))
                {

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row clearfix">
                        @Html.HiddenFor(x => x.UserID)


                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>First Name<span class="mandatory"></span> </label>
                                <input asp-for="FirstName" id="FirstName" placeholder="Enter First Name" type="text" readonly class="form-control parsley-error" required="" data-parsley-id="29" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Last Name<span class="mandatory"></span></label>
                                <input asp-for="LastName" id="LastName" placeholder="Enter Last Name" type="text" readonly class="form-control parsley-error" required="" data-parsley-id="29" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Email<span class="mandatory"></span></label>
                                <input asp-for="Email" id="Email" type="email" placeholder="Enter Email" readonly class="form-control parsley-error" required="" data-parsley-id="31" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Mobile No. <span class="mandatory"></span></label>
                                <input asp-for="Phone" id="Phone" type="text" readonly placeholder="N/A" class="form-control parsley-error" required="" data-parsley-id="31" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <button onclick="window.location='/Admin/ManageUser'" type="button" class="btn btn-primary" title="Back">Back</button>
                                <button id="Edit" type="button" class="btn btn-primary" title="Edit">Edit</button>
                                <button type="submit" id="Save" class="btn btn-primary" title="Save">Save</button>
                            </div>



                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Save").hide();
            $("#Edit").click(function(){
                $("#FirstName").prop('readonly', false);
                $("#LastName").prop('readonly', false);
                $("#Email").prop('readonly', false);
                $("#Phone").prop('readonly', false);
                $("#Save").show();
                $("#Edit").hide();
            });
          });
        function loadGrid(results) {
            $("#UserGrid").kendoGrid({
                dataSource: {
                    data: results,
                    cache: false,
                    schema: {
                        model: {
                            userID: "userID",
                            fields: {
                                FirstName: {
                                    type: "string"
                                }
                            },
                        }
                    },
                    pageSize: 10
                },
                editable: false,
                selectable: true,
                //height: 550,
                pageable: { refresh: true },
                groupable: true,
                sortable: true,
                filterable: true,
                    columns: [
                        {
                            title:"Delete",
                            width: 50,
                            headerTemplate: "<input type='checkbox' id='allCheckBox' name='allCheckBox' title='check all records' class='regular-checkbox' onclick='return initializeAllCheckBox();'/>",
                            template: "<input class='singleCheckBox' name='chkDelete' id='#=userID#' type='checkbox' value='#=publicUserID#' onclick='return initializeSingleCheckBox(this);'>"
                        },
                        { field: "userID", title: "userID" },
                        { field: "firstName", title: "FirstName" },
                        { field: "lastName" , title: "LastName" },
                        { field: "email", title: "Email" },
                        {
                            title: "Detail",
                            template: "# if ('@CurrentAdminSession.HasDetailPermission' == 'True'){ # <a href='/Admin/ManageUser/Detail?id=#=userID#'> #:'Detail'# </a>#} else {##: ' N/A ' ##} #",
                            width: 100
                        },
                    ],
                editable: false
            });
        }
        function Check_CheckBox_Count(deleteName) {
            var $b = $('input[name=chkDelete]');
            var total_selected = $b.filter(':checked').length;
            if (total_selected > 0) {
                $.confirm({
                    title: 'Alert!',
                    content: 'Are you sure? Do you want to delete record(s)?',
                    type: 'red',
                    icon: 'fa fa-warning',
                    buttons: {
                        confirm: function () {
                            checked = [];
                            $("input[name=chkDelete]:checkbox").each(function () {
                                if (this.checked) {
                                    checked.push(this.value);
                                    var SiteBaseUrl = SiteUrl + "Admin/ManageUser/Delete";
                                    $.post(SiteBaseUrl, { publicUserID: checked }, function (result) {
                                        if (result) {
                                            window.location.reload();s
                                        }
                                        else {
                                            alert("Something Went Wrong!");
                                        }
                                    });
                                }
                            });
                        },
                        cancel: function () {
                            return;
                        }
                    }
                });
            }
            else {
                alert("Please select at least one checkbox to delete.");
                return false;
            }
        }
    </script>
}