﻿@model Nota.Areas.Admin.Models.UserModel
@using Nota.Areas.Admin.Helpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section style{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
    <style type="text/css">

        .customer-photo {
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-size: 32px 35px;
            background-position: center center;
            vertical-align: middle;
            line-height: 32px;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-left: 43px;
        }

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            float: right;
        }

            /* Hide default HTML checkbox */
            .switch input {
                display: none;
            }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ff1414;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input.default:checked + .slider {
            background-color: #0dcc62;
        }

        input.primary:checked + .slider {
            background-color: #2196F3;
        }

        input.success:checked + .slider {
            background-color: #8bc34a;
        }

        input.info:checked + .slider {
            background-color: #3de0f5;
        }

        input.warning:checked + .slider {
            background-color: #FFC107;
        }

        input.danger:checked + .slider {
            background-color: #f44336;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>
}
<div class="page-header">
    <div class="row">
    </div>
</div>
<div class="card m-b-30">
    <div class="card-body">
        <div class="col-sm-12">
            @*@if (CurrentAdminSession.HasAddPermission)
                {
                    <a asp-area="Admin" asp-action="Create" asp-controller="Product" style="margin-bottom:20px;" class="btn btn-primary add-new"><i class="fa fa-plus"></i>  Add New</a>
                }*@
        </div>
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/CommonMessages.cshtml", Model.ModuleName)
        <div id="UserGrid"></div><br />
        <div class="col-sm-12">
            @*@if (CurrentAdminSession.HasDeletePermission)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-secondary" title="Delete" onclick="return Check_CheckBox_Count('ProductID');"><i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </div>
                }*@
        </div>
    </div>
</div>
<div class="row">
</div>
@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.all.min.js"></script>
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/SiteUrl.js"></script>
    <script type="text/javascript">
          $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/Admin/ManageUser/_AjaxBinding")",
                success: function (result) {
                    loadGrid(result);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
          });
        function loadGrid(results) {
            $("#UserGrid").kendoGrid({
                dataSource: {
                    data: results,
                    cache: false,
                    schema: {
                        model: {
                            userID: "userID",
                            fields: {
                                FirstName: {
                                    type: "string"
                                }
                            },
                        }
                    },
                    pageSize: 10
                },
                editable: false,
                selectable: true,
                //height: 550,
                pageable: { refresh: true },
                groupable: true,
                sortable: true,
                filterable: true,
                    columns: [
                        {
                            title:"Delete",
                            width: 50,
                            headerTemplate: "<input type='checkbox' id='allCheckBox' name='allCheckBox' title='check all records' class='regular-checkbox' onclick='return initializeAllCheckBox();'/>",
                            template: "<input class='singleCheckBox' name='chkDelete' id='#=userID#' type='checkbox' value='#=publicUserID#' onclick='return initializeSingleCheckBox(this);'>"
                        },
                        { field: "userID", title: "userID" },
                        { field: "firstName", title: "FirstName" },
                        { field: "lastName" , title: "LastName" },
                        { field: "email", title: "Email" },
                        {
                            title: "Detail",
                            template: "# if ('@CurrentAdminSession.HasDetailPermission' == 'True'){ # <a href='/Admin/ManageUser/Detail?id=#=userID#'> #:'Detail'# </a>#} else {##: ' N/A ' ##} #",
                            width: 100
                        },
                    ],
                editable: false
            });
        }
        function Check_CheckBox_Count(deleteName) {
            var $b = $('input[name=chkDelete]');
            var total_selected = $b.filter(':checked').length;
            if (total_selected > 0) {
                $.confirm({
                    title: 'Alert!',
                    content: 'Are you sure? Do you want to delete record(s)?',
                    type: 'red',
                    icon: 'fa fa-warning',
                    buttons: {
                        confirm: function () {
                            checked = [];
                            $("input[name=chkDelete]:checkbox").each(function () {
                                if (this.checked) {
                                    checked.push(this.value);
                                    var SiteBaseUrl = SiteUrl + "Admin/ManageUser/Delete";
                                    $.post(SiteBaseUrl, { publicUserID: checked }, function (result) {
                                        if (result) {
                                            window.location.reload();s
                                        }
                                        else {
                                            alert("Something Went Wrong!");
                                        }
                                    });
                                }
                            });
                        },
                        cancel: function () {
                            return;
                        }
                    }
                });
            }
            else {
                alert("Please select at least one checkbox to delete.");
                return false;
            }
        }
    </script>
}

