﻿@model Nota.Areas.Admin.Models.CategoriesModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .file {
        visibility: hidden;
        position: absolute;
    }
</style>
<body>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content mt-3">
                    <div class="card-body">
                        <form asp-area="Admin" asp-action="Create" asp-controller="Categories" id="image-form" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row form-material">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="file" id="Attachments" name="Attachments" class="file file-upload" accept="image/*">
                                        <div class="input-group my-3">
                                            <input type="text" class="form-control" disabled name="Attachments" placeholder="Upload File" id="Attachments">
                                            <div class="input-group-append">
                                                <button type="button" class="browse btn btn-primary">Browse...</button>
                                            </div>
                                        </div>
                                        <div class="ml-2 col-sm-6">
                                            <img src="https://placehold.it/80x80" style="display:inline;" id="preview" class="img-thumbnail">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-material">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Category Name<span class="mandatory text-danger"> *</span> </label>
                                        <input asp-for="Name" placeholder="Enter Category Name" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-material">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">                                       
                                        <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                    <button type="button" class="btn btn-primary" onclick="window.location='/Admin/Categories'" title="Back">Back</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</body>
@section scripts{
<script type="text/javascript">
    $(document).on("click", ".browse", function () {
        var file = $(this).parents().find(".file");
        file.trigger("click");
    });
    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        $("#file").val(fileName);

        var reader = new FileReader();
        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("preview").src = e.target.result;
        };
        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    });
</script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
}