﻿@model Nota.Areas.Admin.Models.CategoriesModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .customer-photo {
        display: table;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: 50px 50px;
        background-position: center center;
        vertical-align: middle;
        line-height: 45px;
        box-shadow: inset 0 0 3px #999, inset 0 0 20px rgba(0,0,0,.2);
        margin-left: 43px;
    }
</style>
    <div class="container-fluid">
        <div class="tab-content mt-3">
                <div class="card-body">
                    <form asp-area="Admin" asp-action="Edit" asp-controller="Categories" id="basic-form" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(model => model.CategoriesID)
                        <div class="row form-material">
                            <div class="col-md-6 col-sm-1 col-lg-6">
                                <div class="form-group">
                                    <label>Thumbnail<span class="mandatory text-danger"> *</span> </label>
                                    <div class='customer-photo center' style='background-image: url(/ApplicationDocuments/Images/@Model.Thumbnail);'></div><br />
                                    <input type="file" class="display-none file-upload" multiple accept=".xlsx,.xls,image/*,.doc,audio/*,.docx" name="Attachments" id="Attachments">
                                </div>
                            </div>
                        </div>
                        <div class="row form-material">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Category Name<span class="mandatory text-danger"> *</span> </label>
                                    <input asp-for="Name" placeholder="Enter Category Name" type="text" class="form-control parsley-error" required="" data-parsley-id="29">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                         <div class="row form-material">
                             <div class="col-lg-6 col-md-6 col-sm-12">
                                 <div class="form-group">
                                     <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                     <button type="button" onclick="window.location='/Admin/Categories'" class="btn btn-primary" title="Back">Back</button>
                                 </div>
                             </div>
                         </div>
                    </form>
                </div>
        </div>
    </div>
