﻿@using Nota.Areas.User.UserHelpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
   
   // var cartcount = HttpContext.Session.GetObject<List<CartModel>>("Cart");
}
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="index.html"><img src="~/aroma/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index","UserDashboard")">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="@Url.Action("Index","Library")" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Nota Library</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Library")">Library</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("LibrarySelection","Library",new { id=1})">MP3</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("LibrarySelection","Library",new { id=2})">Notes</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("LibrarySelection","Library",new { id=3})">Lyrics</a></li>

                            </ul>
                        </li>
                     
                     
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>

                    <ul class="nav-shop">
                        <li class="nav-item"><button><i class="ti-search"></i></button></li>
                         @if (HttpContextAccessor.HttpContext.Session.GetString("cartcount") != null)
                         {
                        <li class="nav-item"><a href="@Url.Action("Index", "Cart")"><i class="ti-shopping-cart"></i><span class="nav-shop__circle">@HttpContextAccessor.HttpContext.Session.GetString("cartcount")</span></a> </li>
                         }
                         else { 
                    <li class="nav-item"><a href="@Url.Action("Index", "Cart")"><i class="ti-shopping-cart"></i><span class="nav-shop__circle">0</span></a> </li>
                         }
                        <li class="nav-item">
                            @if (CurrentPublicSession.PublicUser != null)
                            {
                                <span>@((CurrentPublicSession.FirstName ?? string.Empty) + " " + (CurrentPublicSession.LastName ?? string.Empty))</span>
                            }
                            <form id="form1" asp-action="Logout" asp-controller="UserProfile" asp-area="User" method="post">
                                <a href="#" class="button button-header" onclick="document.getElementById('form1').submit();">Logout</a>
                            </form>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>