﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nota</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="MobileOptimized" content="320">
    <!--Start Style -->

  
    <!-- Favicon Link -->
    <link rel="shortcut icon" type="image/png" href="~/web-assets/images/favicon.png">

  
    <link rel="stylesheet" href="~/aroma/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/aroma/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/aroma/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/aroma/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/aroma/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/aroma/vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="~/aroma/css/style.css">
   
    @RenderSection("style", required: false)
</head>
<body>
    <!----Loader Start---->

    <!----Main Wrapper Start---->
    <div class="ms_main_wrapper">
        <!---Side Menu Start--->
        <!-- <div class="ms_sidemenu_wrapper">
         <partial name="~/Areas/User/Views/Shared/_LeftSideBar.cshtml" />
     </div>-->
        <!---Header--->
        <div class="ms_header">
            <partial name="~/Areas/User/Views/Shared/_header.cshtml" />
        </div>
        <!---Banner--->
        <!---Main Content Start--->
        <div class="ms_content_wrapper padder_top60">
            @RenderBody()
        </div>
        <!----Footer Start---->
        <div class="ms_footer_wrapper">
            <partial name="~/Areas/User/Views/Shared/_footer.cshtml" />
        </div>
        <!----Audio Player Section---->
    </div>
    <!----Language Selection Modal---->
    <div class="ms_lang_popup">
        <div id="lang_modal" class="modal  centered-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa_icon form_close"></i>
                    </button>
                    <div class="modal-body">
                        <h1>language selection</h1>
                        <p>Please select the language(s) of the music you listen to.</p>
                        <ul class="lang_list">
                            <li>
                                <label class="lang_check_label">
                                    English
                                    <input type="checkbox" name="check">
                                    <span class="label-text"></span>
                                </label>
                            </li>
                            <li>
                                <label class="lang_check_label">
                                    hindi
                                    <input type="checkbox" name="check">
                                    <span class="label-text"></span>
                                </label>
                            </li>
                            <li>
                                <label class="lang_check_label">
                                    punjabi
                                    <input type="checkbox" name="check">
                                    <span class="label-text"></span>
                                </label>
                            </li>
                            <li>
                                <label class="lang_check_label">
                                    French
                                    <input type="checkbox" name="check">
                                    <span class="label-text"></span>
                                </label>
                            </li>
                            <li>
                                <label class="lang_check_label">
                                    German
                                    <input type="checkbox" name="check">
                                    <span class="label-text"></span>
                                </label>
                            </li>
                            <li>
                                <label class="lang_check_label">
                                    Spanish
                                    <input type="checkbox" name="check">
                                    <span class="label-text"></span>
                                </label>
                            </li>
                            <li>
                                <label class="lang_check_label">
                                    Chinese
                                    <input type="checkbox" name="check">
                                    <span class="label-text"></span>
                                </label>
                            </li>
                            <li>
                                <label class="lang_check_label">
                                    Japanese
                                    <input type="checkbox" name="check">
                                    <span class="label-text"></span>
                                </label>
                            </li>
                            <li>
                                <label class="lang_check_label">
                                    Arabic
                                    <input type="checkbox" name="check">
                                    <span class="label-text"></span>
                                </label>
                            </li>
                            <li>
                                <label class="lang_check_label">
                                    Italian
                                    <input type="checkbox" name="check">
                                    <span class="label-text"></span>
                                </label>
                            </li>
                        </ul>
                        <div class="ms_lang_btn">
                            <a href="#" class="ms_btn">apply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----Queue Clear Model ---->
    <!----Queue Save Modal---->
    <!--Main js file Style-->


    <script src="~/aroma/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/aroma/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/aroma/vendors/skrollr.min.js"></script>
    <script src="~/aroma/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/aroma/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/aroma/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="~/aroma/vendors/mail-script.js"></script>
    <script src="~/aroma/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>