﻿@model List<Nota.Areas.Admin.Models.UserModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "test";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>















        /*body {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        .body-content {
            padding-left: 15px;
            padding-right: 15px;
        }
        input,
        select,
        textarea {
            max-width: 280px;
        }*/
        html,
        body,
        div,
        span {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .conversations {
        }

        body {
            background-size: cover;
        }

        .fa-2x {
            font-size: 1.5em;
        }

        .app {
            position: relative;
            overflow: hidden;
            top: 19px;
            height: calc(100% - 38px);
            margin: auto;
            padding: 0;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
        }

        .app-one {
            background-color: #f7f7f7;
            height: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
        }

        .side {
            padding: 0;
            margin: 0;
            height: 100%;
        }

        .side-one {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            position: relative;
            display: block;
            top: 0;
        }

        .side-two {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            position: relative;
            top: -100%;
            left: -100%;
            -webkit-transition: left 0.3s ease;
            transition: left 0.3s ease;
        }

        .mainsheading {
            padding: 10px 16px 10px 15px;
            margin: 0;
            height: 70px;
            width: 100%;
            background-color: #ff4865;
            color: #ffffff;
            z-index: 1000;
            padding: 0 !important;
            margin: 0 !important;
            overflow-y: auto;
        }

        .mainsheadingimage {
            height: 310px;
            width: 100%;
            color: #ffffff;
            z-index: 1000;
            padding: 0 !important;
            margin: 0 !important;
            overflow-y: auto;
        }

        .deletebtn {
            margin-top: 20px;
            margin-left: 20px;
            width: 90%;
            height: 60px;
            background: #ff781e;
            border-radius: 10px 10px 0 10px;
            padding: 4px 10px 7px !important;
            font-size: 12px;
            color: white;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            display: inline-block;
            word-wrap: break-word;
        }

        .reportbtn {
            margin-top: 20px;
            margin-left: 20px;
            width: 90%;
            height: 60px;
            background: #282525;
            border-radius: 10px 10px 0 10px;
            padding: 4px 10px 7px !important;
            font-size: 12px;
            color: white;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            display: inline-block;
            word-wrap: break-word;
        }

        .heading {
            padding: 10px 16px 10px 15px;
            margin: 0;
            height: 70px;
            width: 100%;
            background-color: #ffffff;
            color: #ffffff;
            z-index: 1000;
            padding: 0 !important;
            margin: 0 !important;
            overflow-y: auto;
        }

        .heading-avatar {
            padding: 0;
            cursor: pointer;
        }

        .heading-avatar-icon img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }

        .heading-name {
            padding: 0 !important;
            cursor: pointer;
        }

        .heading-name-meta {
            font-weight: 700;
            font-size: 100%;
            padding: 5px;
            padding-bottom: 0;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #000;
            display: block;
        }

        .heading-online {
            display: none;
            padding: 0 5px;
            font-size: 12px;
            color: #93918f;
        }

        .heading-compose {
            padding: 0;
        }

            .heading-compose i {
                text-align: center;
                padding: 5px;
                color: #93918f;
                cursor: pointer;
            }

        .heading-dot {
            padding: 0;
            margin-left: 10px;
        }

            .heading-dot i {
                text-align: right;
                padding: 5px;
                color: #93918f;
                cursor: pointer;
            }

        .searchBox {
            padding: 0 !important;
            margin: 0 !important;
            height: 60px;
            width: 100%;
        }

        .searchBox-inner {
            height: 100%;
            width: 100%;
            padding: 10px !important;
            background-color: #fbfbfb;
        }


            /*#searchBox-inner input {
          box-shadow: none;
        }*/

            .searchBox-inner input:focus {
                outline: none;
                border: none;
                box-shadow: none;
            }

        .sideBar {
            padding: 0 !important;
            margin: 0 !important;
            background-color: #fff;
            overflow-y: auto;
            border: 1px solid #f7f7f7;
            height: calc(100% - 120px);
        }

        .sideBar-body {
            position: relative;
            padding: 10px !important;
            border-bottom: 1px solid #f7f7f7;
            height: 72px;
            margin: 0 !important;
            cursor: pointer;
            width: 100%;
        }

            .sideBar-body:hover {
                background-color: #f2f2f2;
            }

        .sideBar-avatar {
            text-align: center;
            padding: 0 !important;
        }

        .avatar-icon img {
            border-radius: 50%;
            height: 49px;
            width: 49px;
        }

        .sideBar-main {
            padding: 0 !important;
        }

            .sideBar-main .row {
                padding: 0 !important;
                margin: 0 !important;
            }

        .sideBar-name {
            padding: 10px !important;
        }

        .name-meta {
            font-size: 100%;
            padding: 1% !important;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #000;
        }

        .sideBar-time {
            padding: 10px !important;
        }

        .time-meta {
            text-align: right;
            font-size: 12px;
            padding: 1% !important;
            color: rgba(0, 0, 0, .4);
            vertical-align: baseline;
        }

        /*New Message*/

        .newMessage {
            padding: 0 !important;
            margin: 0 !important;
            height: 100%;
            position: relative;
            left: -100%;
        }

        .newMessage-heading {
            padding: 10px 16px 10px 15px !important;
            margin: 0 !important;
            height: 100px;
            width: 100%;
            background-color: #00bfa5;
            z-index: 1001;
        }

        .newMessage-main {
            padding: 10px 16px 0 15px !important;
            margin: 0 !important;
            height: 60px;
            margin-top: 30px !important;
            width: 100%;
            z-index: 1001;
            color: #fff;
        }

        .newMessage-title {
            font-size: 18px;
            font-weight: 700;
            padding: 10px 5px !important;
        }

        .sender {
            margin-left: 200px;
            width: auto !important;
            background: #ff4865;
            border-radius: 10px 10px 0 10px;
            padding: 4px 10px 7px !important;
            font-size: 12px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            display: inline-block;
            word-wrap: break-word;
        }

        .newMessage-back {
            text-align: center;
            vertical-align: baseline;
            padding: 12px 5px !important;
            display: block;
            cursor: pointer;
        }

            .newMessage-back i {
                margin: auto !important;
            }

        .composeBox {
            padding: 0 !important;
            margin: 0 !important;
            height: 60px;
            width: 100%;
        }

        .composeBox-inner {
            height: 100%;
            width: 100%;
            padding: 10px !important;
            background-color: #fbfbfb;
        }

            .composeBox-inner input:focus {
                outline: none;
                border: none;
                box-shadow: none;
            }

        .compose-sideBar {
            padding: 0 !important;
            margin: 0 !important;
            background-color: #fff;
            overflow-y: auto;
            border: 1px solid #f7f7f7;
            height: calc(100% - 160px);
        }

        /*Conversation*/

        .conversation {
            padding: 0 !important;
            margin: 0 !important;
            overflow-y: auto;
            height: 600px;
            /*width: 100%;*/
            border-left: 1px solid rgba(0, 0, 0, .08);
            /*overflow-y: auto;*/
        }

        .message {
            padding: 0 !important;
            margin: 0 !important;
            background-size: cover;
            overflow-y: auto;
            border: 1px solid #f7f7f7;
            height: calc(100% - 120px);
        }

        .message-previous {
            margin: 0 !important;
            padding: 0 !important;
            height: auto;
            width: 100%;
        }

        .previous {
            font-size: 15px;
            text-align: center;
            padding: 10px !important;
            cursor: pointer;
        }

            .previous a {
                text-decoration: none;
                font-weight: 700;
            }

        .message-body {
            margin: 0 !important;
            padding: 0 !important;
            width: auto;
            height: auto;
        }

        .message-main-receiver {
            /*padding: 10px 20px;*/
            max-width: 60%;
        }

        .message-main-sender {
            padding: 3px 20px !important;
            margin-left: 40% !important;
            max-width: 60%;
        }

        .message-text-sender {
            margin: 0 !important;
            padding: 5px !important;
            word-wrap: break-word;
            font-weight: 200;
            font-size: 14px;
            color: black;
            padding-bottom: 0 !important;
        }

        .message-text-receiver {
            margin: 0 !important;
            padding: 5px !important;
            word-wrap: break-word;
            font-weight: 200;
            font-size: 14px;
            color: white;
            padding-bottom: 0 !important;
        }


        .message-time {
            margin: 0 !important;
            margin-left: 50px !important;
            font-size: 12px;
            text-align: right;
            color: #9a9a9a;
        }

        .receiver {
            width: auto !important;
            padding: 4px 10px 7px !important;
            border-radius: 10px 10px 10px 0;
            background: #ffffff;
            font-size: 12px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            word-wrap: break-word;
            display: inline-block;
        }



        /*Reply*/

        .reply {
            height: 60px;
            width: 100%;
            background-color: #f5f1ee;
            padding: 10px 5px 10px 5px !important;
            margin: 0 !important;
            z-index: 1000;
        }

        .reply-emojis {
            padding: 5px !important;
        }

            .reply-emojis i {
                text-align: center;
                padding: 5px 5px 5px 5px !important;
                color: #93918f;
                cursor: pointer;
            }

        .reply-recording {
            padding: 5px !important;
        }

            .reply-recording i {
                text-align: center;
                padding: 5px !important;
                color: #93918f;
                cursor: pointer;
            }

        .reply-send {
            padding: 5px !important;
        }

            .reply-send i {
                text-align: center;
                padding: 5px !important;
                color: #93918f;
                cursor: pointer;
            }

        .reply-main {
            padding: 2px 5px !important;
        }

            .reply-main textarea {
                width: 100%;
                resize: none;
                overflow: hidden;
                padding: 5px !important;
                outline: none;
                border: none;
                text-indent: 5px;
                box-shadow: none;
                height: 100%;
                font-size: 16px;
            }

                .reply-main textarea:focus {
                    outline: none;
                    border: none;
                    text-indent: 5px;
                    box-shadow: none;
                }

        @@media screen and (max-width: 700px) {
            .app {
                top: 0;
                height: 100%;
            }

            .heading {
                height: 70px;
                background-color: #009688;
            }

            .fa-2x {
                font-size: 2.3em !important;
            }

            .heading-avatar {
                padding: 0 !important;
            }

            .heading-avatar-icon img {
                height: 50px;
                width: 50px;
            }

            .heading-compose {
                padding: 5px !important;
            }

                .heading-compose i {
                    color: #fff;
                    cursor: pointer;
                }

            .heading-dot {
                padding: 5px !important;
                margin-left: 10px !important;
            }

                .heading-dot i {
                    color: #fff;
                    cursor: pointer;
                }

            .sideBar {
                height: calc(100% - 130px);
            }

            .sideBar-body {
                height: 80px;
            }

            .sideBar-avatar {
                text-align: left;
                padding: 0 8px !important;
            }

            .avatar-icon img {
                height: 55px;
                width: 55px;
            }

            .sideBar-main {
                padding: 0 !important;
            }

                .sideBar-main .row {
                    padding: 0 !important;
                    margin: 0 !important;
                }

            .sideBar-name {
                padding: 10px 5px !important;
            }

            .name-meta {
                font-size: 16px;
                padding: 5% !important;
            }

            .sideBar-time {
                padding: 10px !important;
            }

            .time-meta {
                text-align: right;
                font-size: 14px;
                padding: 4% !important;
                color: rgba(0, 0, 0, .4);
                vertical-align: baseline;
            }
            /*Conversation*/
            .conversation {
                padding: 0 !important;
                margin: 0 !important;
                height: 100%;
                /*width: 100%;*/
                border-left: 1px solid rgba(0, 0, 0, .08);
                /*overflow-y: auto;*/
            }

            .message {
                height: calc(100% - 140px);
            }

            .reply {
                height: 70px;
            }

            .reply-emojis {
                padding: 5px 0 !important;
            }

                .reply-emojis i {
                    padding: 5px 2px !important;
                    font-size: 1.8em !important;
                }

            .reply-main {
                padding: 2px 8px !important;
            }

                .reply-main textarea {
                    padding: 8px !important;
                    font-size: 18px;
                }

            .reply-recording {
                padding: 5px 0 !important;
            }

                .reply-recording i {
                    padding: 5px 0 !important;
                    font-size: 1.8em !important;
                }

            .reply-send {
                padding: 5px 0 !important;
            }

                .reply-send i {
                    padding: 5px 2px 5px 0 !important;
                    font-size: 1.8em !important;
                }
        }
    </style>
</head>
<body class="bog">

    <div class="container app">
        <div class="row app-one">
            <div class="col-sm-4 side">
                <div class="side-one">
                    <div class="row mainsheading">
                        <div class="col-sm-3 col-xs-3 sideBar-avatar">
                            <div class="avatar-icon">
                                <img src=@Url.Content("~/img/user1.jpg")>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-9 sideBar-main">
                            <div class="row">
                                <div class="col-sm-7 col-xs-7 sideBar-name">
                                    <span class="name-meta text-white" style="color:white;">
                                        @HttpContextAccessor.HttpContext.Session.GetString("username")
                                    </span>

                                    <input id="userid" type="hidden" value=@HttpContextAccessor.HttpContext.Session.GetString("userid") />
                                </div>

                            </div>
                        </div>
                    </div>
                    <h4 class="col-lg-offset-3 ">Messages</h4>
                    <div class="row sideBar">


                        @foreach (var val in Model)
                        {
                            if (@HttpContextAccessor.HttpContext.Session.GetString("userid") != null)
                            {
                                <input id="touserid" type="hidden" value=@HttpContextAccessor.HttpContext.Session.GetString("userid") />
                            }
                            <div class="row sideBar-body" onclick="GetChat('@HttpContextAccessor.HttpContext.Session.GetString("userid")-@val.UserID')">
                                <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                    <div class="avatar-icon">
                                        <img src=@Url.Content("~/img/user1.jpg")>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-xs-9 sideBar-main">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12  sideBar-name">
                                            <span class="name-meta">
                                                @val.Email
                                            </span>


                                        </div>
                                        <div class="col-sm-4 col-xs-4  sideBar-time">

                                            <label id="msgcount-@val.UserID" class="text-primary">

                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>

            <div class="col-sm-8 conversation">
                <div id="target">
                </div>
            </div>


        </div>
    </div>



    <script type="text/javascript">
        var touserid = 0;
        var ids = 1;
        var msgcount = 0;
        var resendmsgid;
        function GetChat(val) {
            //alert(val);
            msgcount = 0;

            // $('#userchatoption').load('/Home/UserChatOption');
            $('#target').load('/Admin/Chat/UserChat?id=' + val);
            var tempval = val.split("-");
            touserid = tempval[1];
            var msgcountlabel = "#msgcount-" + touserid;
            $(msgcountlabel).text("");


        }
        function sendagain(div) {
            resendmsgid = div;
            var resendmsg = $("#" + div).find(".message-text-receiver");
            var msgentity = {
                User_Id: $('#userid').val(),
                ToUser_Id: touserid,
                FromUser_Id: $('#userid').val(),
                Text: resendmsg.text()
            };

            $.ajax({
                url: '/Home/SendMsg',
                type: 'POST',
                data: JSON.stringify(msgentity),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.Result == "Success") {
                        // alert(resendmsgid);
                        $("#" + resendmsgid).css({ background: "#ff781e" });
                        $("#" + resendmsgid).find("#btnresend").remove();
                        $("#" + resendmsgid).find("#btnresend").remove();
                        // $('#target').load('/Home/UserChat?id=' + data.ID);
                    }
                    else {
                        var div = $('#conversation').children().last().find(".sender");
                        div.css({ background: "red" });
                        div.click(function () {
                            div.append('<btn id="btnresend" class="btn btn-primary">Send</btn>');
                        });
                    }
                },
                error: function () {
                    alert("error");
                }
            });
            // alert(resendmsg.text());


        }
        function sendmessage() {

            //alert("send message");
            //alert($('#comment').val());
            //alert($('#userid').val());
            //alert(touserid);
            var chatmodel = {
                UserID: parseInt($('#userid').val()),
                TouserID: parseInt(touserid),
                FromuserID: parseInt($('#userid').val()),
                Message: $('#comment').val(),
                TimeStamp: "2020-05-23",
                SeenTag: true,
                MessageID: 0
            };
            //  alert(JSON.stringify(chatmodel));
            $.ajax({
                url: '/Admin/Chat/SendMsg',
                type: 'POST',
                data: chatmodel,
                success: function (data) {
                    //alert(JSON.stringify(data));
                    if (data.result == "Success") {

                        // $('#target').load('/Home/UserChat?id=' + data.ID);
                        // alert("success");
                        $('#conversation').append('<div class=""><div class="message-main-sender"><div class="sender"><div class="message-text-receiver">' + $('#comment').val() + '</div><span class="message-time pull-right"></span></div> </div></div>');
                        $('#comment').val("");
                    }
                    else {
                        //alert("failed");
                        var div = $('#conversation').children().last().find(".sender");
                        div.css({ background: "red" });
                        div.attr('id', "resend" + ids);
                        ids = ids + 1;
                        div.click(function () {
                            var check = div.find("#sendagain");
                            // alert(JSON.stringify(check));
                            if (check.length == 0) {

                                div.append('<btn id="btnresend" onclick="sendagain(\'' + div.attr('id') + '\');" class="btn btn-primary" >Send</btn>');
                            }
                        });
                    }
                },
                error: function () {
                    alert("error");
                }
            });

        }
        function htmlEncode(value) {
            //  var encodedValue = $('<div />').text(value).html();
            return null;
        }


    </script>




</body>
</html>

