﻿@model List<Nota.Areas.Admin.Models.ChatModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    int i = Model.Count;
    int j = 0;
}

<div class="row heading">



    <div class="col-sm-8 col-xs-7 heading-name">



        <h2 class=" text-center ml-5 text-black-50">
            @HttpContextAccessor.HttpContext.Session.GetString("ToUserName") Messages
        </h2>
        <span class="heading-online">Online</span>
    </div>

</div>

<div class="conversations" id="conversation">
    <!--<div class="row message-previous">
        <div class="col-sm-12 previous">
            <a onclick="previous(this)" id="ankitjain28" name="20">
                Show Previous Message!
            </a>
        </div>
    </div> -->
    @if (Model != null)
    {

        @foreach (var val1 in Model)
        {

            if (val1.UserID == int.Parse(HttpContextAccessor.HttpContext.Session.GetString("userid")))
            {

                <div class="">
                    <div class="message-main-sender">
                        <div class="sender">
                            <div class="message-text-receiver">
                                @val1.Message
                            </div>
                            <span class="message-time pull-right">

                            </span>
                        </div>
                    </div>
                </div>
            }

            else
            {
                <div class="">
                    <div class="message-main-receiver">
                        <div class="receiver">
                            <div class="message-text-sender">
                                @val1.Message
                            </div>
                            <span class="message-time pull-right">

                            </span>
                        </div>
                    </div>
                </div>

            }
        }
    }
</div>
<div class="row reply">
    <!--<div class="col-sm-1 col-xs-1 reply-emojis">
        <i class="fa fa-smile-o fa-2x"></i>
    </div>-->
    <div class="col-lg-offset-1 col-sm-11 col-xs-11 reply-main">
        <textarea class="form-control" rows="1" id="comment"></textarea>
    </div>
    <div class="col-sm-1 col-xs-1 reply-send" onclick="sendmessage()" id="sendmessage">
        <i class="fa fa-send fa-2x" aria-hidden="true"></i>
    </div>
</div>
<script type="text/javascript">
    $(function () {


    });

</script>