﻿@model Nota.Areas.User.Models.UserMembershipModel
@using Nota.Areas.User.EnumType
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    string days="" ; 
    if (Model != null)
    {
         days = Model.ExpiryDate.Subtract(Model.StartDate).Days.ToString();
    }
}
    <form asp-area="User" asp-action="Create" asp-controller="Membership" method="post">
        <div class="ms_account_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ms_heading">
                            <h2>Purchase Membership</h2>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ms_plan_box">
                            <div class="ms_plan_header">
                                <div class="ms_plan_img">
                                    <img src="~/web-~/assets/images/plan_icon1.png" alt="">
                                </div>
                            </div>
                            <h3 class="plan_heading">Silver</h3>
                            <div class="plan_price"><div class="plan_dolar"><sup>$</sup>50</div></div>
                            <ul>
                                <li>Access to Content - Access to Free & Premium (Able to Buy)</li>
                                <li>Downloads Allowed - Limit No of Downloads to 50</li>
                                <li>Upload Limit - Limited to 5</li>
                                <li>Participations - Join Only</li>
                                <li>Contacting Other Members - Allowed to contact Other Silver/Free members</li>
                            </ul>
                            <div class="ms_plan_btn">
                                @if (Model != null)
                                {
                                    @if ((Int16)MemberShipEnum.Silver == Model.MembershipName)
                                    {
                                        <a class="ms_btn text-white">Already Subscribed</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Payment" asp-controller="Membership" asp-area="User" asp-route-id="@((Int16)MemberShipEnum.Silver)" class="ms_btn">buy now</a>
                                    }
                                }
                                else
                                {
                                    <a asp-action="Payment" asp-controller="Membership" asp-area="User" asp-route-id="@((Int16)MemberShipEnum.Silver)" class="ms_btn">buy now</a>

                                }

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ms_plan_box paln_active">
                            <div class="ms_plan_header">
                                <div class="ms_plan_img">
                                    <img src="~/web-~/assets/images/plan_icon2.png" alt="">
                                </div>
                            </div>
                            <h3 class="plan_heading">Gold</h3>
                            <div class="plan_price"><div class="plan_dolar"><sup>$</sup>100</div></div>
                            <ul>
                                <li>Access to Content - Access to Free & Premium (Able to Buy)</li>
                                <li>Downloads Allowed - Limit No of Downloads to 100</li>
                                <li>Upload Limit - Limited to 5</li>
                                <li>Participations - Join Only</li>
                                <li>Contacting Other Members - Allowed to contact Other Gold/Silver/Free members</li>
                            </ul>
                            <div class="ms_plan_btn">
                                @if (Model != null)
                                {
                                    @if ((Int16)MemberShipEnum.Gold == Model.MembershipName)
                                    {
                                        <a class="ms_btn text-white">Already Subscribed</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Payment" asp-controller="Membership" asp-area="User" asp-route-id="@((Int16)MemberShipEnum.Gold)" class="ms_btn">buy now</a>
                                    }
                                }
                                else
                                {
                                    <a asp-action="Payment" asp-controller="Membership" asp-area="User" asp-route-id="@((Int16)MemberShipEnum.Gold)" class="ms_btn">buy now</a>

                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ms_plan_box">
                            <div class="ms_plan_header">
                                
                                <div class="ms_plan_img">
                                    <img src="~/web-~/assets/images/plan_icon3.png" alt="">
                                </div>
                            </div>
                            <h3 class="plan_heading">Artists</h3>
                            <div class="plan_price"><div class="plan_dolar"><sup>$</sup>200</div></div>
                            <ul>
                                <li>Access to Content - Access to Free and Premium Database</li>
                                <li>Downloads Allowed - Unlimited</li>
                                <li>Upload Limit - Unlimited</li>
                                <li>Participations - Create & Join</li>
                                <li>Contacting Other Members - Allowed to Contact All</li>
                            </ul>
                            <div class="ms_plan_btn">
                                @if (Model != null)
                                {
                                    @if ((Int16)MemberShipEnum.Artist == Model.MembershipName)
                                    {
                                        <a class="ms_btn text-white">Already Subscribed</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Payment" asp-controller="Membership" asp-area="User" asp-route-id="@((Int16)MemberShipEnum.Artist)" class="ms_btn">buy now</a>
                                    }
                                }
                                else
                                {
                                    <a asp-action="Payment" asp-controller="Membership" asp-area="User" asp-route-id="@((Int16)MemberShipEnum.Artist)" class="ms_btn">buy now</a>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ms_acc_overview">
                            <div class="ms_heading">
                                <h1>Account Overview</h1>
                            </div>
                            @if (Model != null)
                            {
                            <div class="ms_acc_ovrview_list">
                                <ul>
                                    <li>Your Subscribed Plan  <span>- @Model.Name</span></li>
                                    <li>Amount Paid  		  <span>- $@decimal.Parse(Model.Amount.ToString("G29"))</span></li>
                                    <li>Validity Expires In   <span>- @days</span> </li>
                                    <li>Downloads Remaining   <span>- @Model.DownloadAllowed </span></li>
                                    <li>Upload Remaining      <span>- @Model.UploadAllowed </span></li>
                                </ul>
                                <a href="#" class="ms_btn">renew now</a>
                            </div>
                            }
                            else { 
                        <div class="ms_acc_ovrview_list">
                            <ul>
                                <li><span>You are not Subscriber</span></li>
                            </ul>
                        </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>