﻿
@{
    ViewData["Title"] = "payment_successful";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
    <div class="ms_profile_wrapper">
        <h1>Payment</h1>
        <div class="ms_profile_box">
            <h1>payment Status</h1>

            <h1 class="text-success">@ViewData["Msg"]</h1>

        </div>
    </div>