﻿@model List<Nota.Areas.User.Models.CartModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shopping Cart</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/cart/cart1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>@item.ProductName</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>$@item.Amount</h5>
                            </td>
                            <td>
                                <h5>$@item.Amount</h5>
                            </td>
                            <td>
                               <a href="@Url.Action("RemoveItem","Cart")?id=@item.ProductID"> <i class="fa-1x ti-brush">
                                   Remove
                                    </i></a>
                            </td>
                        </tr>

                        }
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>$@Model.Sum(x=>x.Amount)</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td class="d-none-l">
                            </td>
                            <td class="">
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="@Url.Action("Index","Library")">Continue Shopping</a>
                                    <a class="primary-btn ml-2" href="@Url.Action("CheckOut","Cart")">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>






