﻿@model Nota.Areas.User.Models.PaymentDetailModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="ms_profile_wrapper">
    <h1>Payment</h1>
    <div class="ms_profile_box">
        <form asp-area="User" asp-action="Create" asp-controller="Membership" id="basic-form" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="ms_pro_form">
                <div class="form-group">
                    <label>Reference NO:<span class="mandatory">*</span> </label>
                    <input asp-for="ReferenceNO" placeholder="Enter your Reference NO" type="text" class="form-control parsley-error" data-parsley-id="29">
                    <span asp-validation-for="ReferenceNO" class="text-white"></span>
                </div>
                <div class="form-group">
                    <label>Amount<span class="mandatory">*</span> </label>
                    <input asp-for="Amount" placeholder="Enter Amount" type="text" class="form-control parsley-error" data-parsley-id="29">
                    <span asp-validation-for="Amount" class="text-white"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="ms_btn" title="Save">Save</button>
                    <button type="button" asp-area="User" asp-action="Index" asp-controller="UserDashboard" class="ms_btn">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>