﻿@model Nota.Areas.Admin.Models.RolePrivilegesModel
@{
    ViewData["Title"] = "Role Privileges Management";
}
    <form asp-area="Admin" asp-controller="RolePrivileges" asp-action="Index" method="post" id="RolePrivileges">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-12">
                @await Html.PartialAsync("~/Areas/Admin/Views/Shared/CommonMessages.cshtml", Model.ModuleName)
                <div class="card"><br/>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label class="col-form-label">Role <span class="mandatory">*</span></label>
                                            <select asp-for="RoleID" asp-items="Model.Roles" class="form-control" onchange="getPrivileges(this.value)">
                                                <option value="">-- Select Role --</option>
                                            </select>
                                            <span asp-validation-for="RoleID" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (ViewData["RolePrivileges"] != null)
                        {
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <td class="">
                                                Menu Item
                                            </td>
                                            <td>
                                                <input type="checkbox" name="chkSelectAll" id="chkSelectAll" class="verticalaligntop" />
                                                All
                                            </td>
                                            <td>
                                                <input type="checkbox" name="chkViewAll" id="chkViewAll" class="chkViewPar11" />
                                                View
                                            </td>
                                            <td>
                                                <input type="checkbox" name="chkAddAll" id="chkAddAll" class="chkViewPar11" />
                                                Add
                                            </td>
                                            <td>
                                                <input type="checkbox" name="chkEditAll" id="chkEditAll" class="chkViewPar11" />
                                                Edit
                                            </td>
                                            <td>
                                                <input type="checkbox" name="chkDeleteAll" id="chkDeleteAll" class="chkViewPar11" />
                                                Delete
                                            </td>
                                            <td>
                                                <input type="checkbox" name="chkDetailAll" id="chkDetailAll" class="chkViewPar11" />
                                                Detail
                                            </td>
                                        </tr>
                                    </thead>
                                    @{
                                        int j = 0;
                                        System.Data.DataTable dtRolePrivileges = ViewData["RolePrivileges"] as System.Data.DataTable;
                                        for (int i = 0; i < dtRolePrivileges.Rows.Count; i++)
                                        {
                                            j += 1;
                                            int ParentId = Convert.ToInt32(dtRolePrivileges.Rows[i]["ParentID"].ToString());
                                            int MainParentID = Convert.ToInt32(dtRolePrivileges.Rows[i]["MainParentID"]);
                                            string MenuItem = Convert.ToString(dtRolePrivileges.Rows[i]["MenuItem"]);
                                            string strMenuItemId = Convert.ToString(dtRolePrivileges.Rows[i]["MenuItemID"]);
                                            int orderID = Convert.ToInt32(dtRolePrivileges.Rows[i]["OrderID"].ToString());

                                            <tr class="@(j % 2 == 0 ? "grid-row-alternate" : "grid-row")">
                                                <td>
                                                    @if (ParentId == 0)
                                                    {
                                                        <span style="font-weight:bolder">
                                                            @Html.Encode(MenuItem)
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span style="padding-left: 28px;">
                                                            @Html.Encode(MenuItem)
                                                        </span>
                                                    }
                                                    <input type="hidden" id="hdMenuItemID" name="hdMenuItemID" value="@Html.Encode((dtRolePrivileges.Rows[i]["MenuItemID"].ToString()))" />
                                                </td>
                                                <td class="tdData">
                                                    @if (ParentId == 0)
                                                    {
                                                        if (Convert.ToBoolean(dtRolePrivileges.Rows[i]["View"]))
                                                        {
                                                            <input type="checkbox" name="chkMain" value="@("v" + Html.Encode(strMenuItemId))" id="@Html.Encode(strMenuItemId)" checked="checked" class="@("chkViewPar" + Convert.ToInt32(dtRolePrivileges.Rows[i]["MenuItemID"]))" onclick="javascript:CheckUncheckChildCheckBox('@("chkViewPar" + Convert.ToInt32(dtRolePrivileges.Rows[i]["MenuItemID"]))','@Convert.ToInt32(dtRolePrivileges.Rows[i]["MenuItemID"])');SelectAllDetail('@(strMenuItemId)',this);" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="chkMain" value="@("v" + Html.Encode(strMenuItemId))" id="@Html.Encode(strMenuItemId)" class="@("chkViewPar" + Convert.ToInt32(dtRolePrivileges.Rows[i]["MenuItemID"]))" onclick="javascript:CheckUncheckChildCheckBox('@("chkViewPar" + Convert.ToInt32(dtRolePrivileges.Rows[i]["MenuItemID"]))','@Convert.ToInt32(dtRolePrivileges.Rows[i]["MenuItemID"])');SelectAllDetail('@(strMenuItemId)',this);" />
                                                        }
                                                    }
                                                    else if (ParentId == ViewBag.UserManagementParentMenuID && orderID == ViewBag.UserManagementParentOrderID)
                                                    {
                                                        if (Convert.ToBoolean(dtRolePrivileges.Rows[i]["View"]))
                                                        {
                                                            <input type="checkbox" checked="checked" name="chkSubMain" value="@("v" + Html.Encode(strMenuItemId))" class="@("subClass" + MainParentID)" id="@("View_" + Html.Encode(strMenuItemId))" onchange="javascript:CheckUnCheckMain('@("chkView" + ParentId)');" onclick="javascript: CheckUncheckChildCheckBoxNew('@Convert.ToInt32(dtRolePrivileges.Rows[i]["MenuItemID"])','View',this); UncheckMainParentCheckbox('@ParentId',this); CheckSubMenu('@strMenuItemId',this);" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="chkSubMain" value="@("v" + Html.Encode(strMenuItemId))" class="@("subClass" + MainParentID)" id="@("View_" + Html.Encode(strMenuItemId))" onchange="javascript:CheckUnCheckMain('@("chkView" + ParentId)');" onclick="javascript: CheckUncheckChildCheckBoxNew('@Convert.ToInt32(dtRolePrivileges.Rows[i]["MenuItemID"])','View',this); UncheckMainParentCheckbox('@ParentId',this); CheckSubMenu('@strMenuItemId',this);" />
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (Convert.ToBoolean(dtRolePrivileges.Rows[i]["View"]) && Convert.ToBoolean(dtRolePrivileges.Rows[i]["Add"]) && Convert.ToBoolean(dtRolePrivileges.Rows[i]["Edit"]) && Convert.ToBoolean(dtRolePrivileges.Rows[i]["Delete"]) && Convert.ToBoolean(dtRolePrivileges.Rows[i]["Detail"]))
                                                        {
                                                            <input type="checkbox" name="chkAll" value="@("vA" + Html.Encode(strMenuItemId))" class="@("chkAll" + MainParentID)" id="@("Select_" + Html.Encode(Convert.ToString(dtRolePrivileges.Rows[i]["ParentID"])) + "_" + Html.Encode(strMenuItemId))" checked="checked" onclick="javascript:UncheckParentCheckbox('@("View_" + ParentId)','@MainParentID ',this);SelectAllDetail('@(strMenuItemId)',this);" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="chkAll" value="@("vA" + Html.Encode(strMenuItemId))" class="@("chkAll" + MainParentID)" id="@("Select_" + Html.Encode(Convert.ToString(dtRolePrivileges.Rows[i]["ParentID"])) + "_" + Html.Encode(strMenuItemId))" onclick="javascript:UncheckParentCheckbox('@("View_" + ParentId)','@MainParentID ',this);SelectAllDetail('@(strMenuItemId)',this);" />
                                                        }
                                                    }
                                                </td>
                                                <td class="tdData">
                                                    @if (ParentId > 0 && orderID != ViewBag.UserManagementParentOrderID)
                                                    {
                                                        if (Convert.ToBoolean(dtRolePrivileges.Rows[i]["View"]))
                                                        {
                                                            <input type="checkbox" name="chkView" value="@("v" + Html.Encode(strMenuItemId))" class="@("chkView" + MainParentID)" id="@("View_" + Html.Encode(Convert.ToString(dtRolePrivileges.Rows[i]["ParentID"])) + "_" + Html.Encode(strMenuItemId))" checked="checked" onclick="javascript:UncheckParentCheckbox('@("View_" + ParentId)','@MainParentID ',this); SelectViewDetail('@(strMenuItemId)',this);" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="chkView" value="@("v" + Html.Encode(strMenuItemId))" class="@("chkView" + MainParentID)" id="@("View_" + Html.Encode(Convert.ToString(dtRolePrivileges.Rows[i]["ParentID"])) + "_" + Html.Encode(strMenuItemId))" onclick="javascript:UncheckParentCheckbox('@("View_" + ParentId)','@MainParentID ',this); SelectViewDetail('@(strMenuItemId)',this);" />
                                                        }
                                                    }

                                                </td>
                                                <td class="tdData">
                                                    @if (ParentId > 0 && orderID != ViewBag.UserManagementParentOrderID)
                                                    {
                                                        if (Convert.ToBoolean(dtRolePrivileges.Rows[i]["Add"]))
                                                        {
                                                            <input type="checkbox" name="chkAdd" value="@("a" + Html.Encode(strMenuItemId))" class="@("chkAdd" + MainParentID)" id="@("Add_" + Html.Encode(Convert.ToString(dtRolePrivileges.Rows[i]["ParentID"])) + "_" + Html.Encode(strMenuItemId)) " checked="checked" onclick="javascript:UncheckParentCheckbox('@("Add_" + ParentId)','@MainParentID ',this); SelectViewDetail('@(strMenuItemId)',this);" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="chkAdd" value="@("a" + Html.Encode(strMenuItemId))" class="@("chkAdd" + MainParentID)" id="@("Add_" + Html.Encode(Convert.ToString(dtRolePrivileges.Rows[i]["ParentID"])) + "_" + Html.Encode(strMenuItemId))" onclick="javascript:UncheckParentCheckbox('@("Add_" + ParentId)','@MainParentID ',this); SelectViewDetail('@(strMenuItemId)',this);" />
                                                        }
                                                    }
                                                </td>
                                                <td class="tdData">
                                                    @if (ParentId > 0 && orderID != ViewBag.UserManagementParentOrderID)
                                                    {
                                                        if (Convert.ToBoolean(dtRolePrivileges.Rows[i]["Edit"]))
                                                        {
                                                            <input type="checkbox" name="chkEdit" value="@("e" + Html.Encode(strMenuItemId))" class="@("chkEdit" + MainParentID)" id="@("Edit_" + Html.Encode(Convert.ToString(dtRolePrivileges.Rows[i]["ParentID"])) + "_" + Html.Encode(strMenuItemId))" checked="checked" onclick="javascript:UncheckParentCheckbox('@("Edit_" + ParentId)','@MainParentID ',this); SelectViewDetail('@(strMenuItemId)',this);" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="chkEdit" value="@("e" + Html.Encode(strMenuItemId))" class="@("chkEdit" + MainParentID)" id="@("Edit_" + Html.Encode(Convert.ToString(dtRolePrivileges.Rows[i]["ParentID"])) + "_" + Html.Encode(strMenuItemId))" onclick="javascript:UncheckParentCheckbox('@("Edit_" + ParentId)','@MainParentID ',this); SelectViewDetail('@(strMenuItemId)',this);" />
                                                        }
                                                    }
                                                </td>
                                                <td class="tdData">
                                                    @if (ParentId > 0 && orderID != ViewBag.UserManagementParentOrderID)
                                                    {
                                                        if (Convert.ToBoolean(dtRolePrivileges.Rows[i]["Delete"]))
                                                        {
                                                            <input type="checkbox" name="chkDelete" value="@("d" + Html.Encode(strMenuItemId))" class="@("chkDelete" + MainParentID)" id="@("Delete_" + Html.Encode(Convert.ToString(dtRolePrivileges.Rows[i]["ParentID"])) + "_" + Html.Encode(strMenuItemId))" checked="checked" onclick="javascript:UncheckParentCheckbox('@("Delete_" + ParentId)','@MainParentID ',this); SelectViewDetail('@(strMenuItemId)',this);" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="chkDelete" value="@("d" + Html.Encode(strMenuItemId))" class="@("chkDelete" + MainParentID)" id="@("Delete_" + Html.Encode(Convert.ToString(dtRolePrivileges.Rows[i]["ParentID"])) + "_" + Html.Encode(strMenuItemId))" onclick="javascript:UncheckParentCheckbox('@("Delete_" + ParentId)','@MainParentID ',this); SelectViewDetail('@(strMenuItemId)',this);" />
                                                        }
                                                    }
                                                </td>
                                                <td class="tdData">
                                                    @if (ParentId > 0 && orderID != ViewBag.UserManagementParentOrderID)
                                                    {
                                                        if (Convert.ToBoolean(dtRolePrivileges.Rows[i]["Detail"]))
                                                        {
                                                            <input type="checkbox" name="chkDetail" value="@("de" + Html.Encode(strMenuItemId))" class="@("chkDetail" + MainParentID)" id="@("Detail_" + Html.Encode(Convert.ToString(dtRolePrivileges.Rows[i]["ParentID"])) + "_" + Html.Encode(strMenuItemId))" checked="checked" onclick="javascript:UncheckParentCheckbox('@("Detail_" + ParentId)','@MainParentID ',this);SelectViewDetail('@(strMenuItemId)',this);" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="chkDetail" value="@("de" + Html.Encode(strMenuItemId))" class="@("chkDetail" + MainParentID)" id="@("Detail_" + Html.Encode(Convert.ToString(dtRolePrivileges.Rows[i]["ParentID"])) + "_" + Html.Encode(strMenuItemId))" onclick="javascript:UncheckParentCheckbox('@("Detail_" + ParentId)','@MainParentID ',this);SelectViewDetail('@(strMenuItemId)',this);" />
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                            <div class="row" style="padding-top: 10px">
                                <div class="col-md-6">
                                    <input name="btnSubmit" type="submit" class="btn btn-primary bluebtn" id="btnSubmit" value="Save" title="Save" />
                                    <button onclick="window.location='/Admin/DashBoard'" type="button" class="btn btn-danger" title="Save">Back</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
@section scripts{
    <script src="@Url.Content("~/js/RolePrivileges.js")"></script>
}