﻿
@{
    ViewData["Title"] = "Nota Music Player";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="offset-1 col-md-3 col-lg-3 col-xl-3">
        <div class="card text-center card-product">
            <div class="card-product__img">
                <img class="card-img" src="~/web-assets/images/station/edit-profile.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="card-product__title"><a asp-action="EditDetail" asp-controller="UserProfile" asp-route-id="@Nota.Areas.User.UserHelpers.CurrentPublicSession.PublicUserID">Edit Profile</a></h4>

            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card text-center card-product">
            <div class="card-product__img">
                <img class="card-img" src="~/web-assets/images/station/new-upload.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="card-product__title"><a asp-area="User" asp-action="Create" asp-controller="UserProduct">New Upload</a></h4>

            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card text-center card-product">
            <div class="card-product__img">
                <img class="card-img" src="~/web-assets/images/station/my-upload.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="card-product__title"><a asp-area="User" asp-action="Index" asp-controller="MyUpload">My Upload</a></h4>

            </div>
        </div>
    </div>
    <div class="offset-1 col-md-3 col-lg-3 col-xl-3">
        <div class="card text-center card-product">
            <div class="card-product__img">
                <img class="card-img" src="~/web-assets/images/station/my-purchase.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="card-product__title"><a asp-area="User" asp-action="Index" asp-controller="MyPurchase">My Purchase</a></h4>

            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card text-center card-product">
            <div class="card-product__img">
                <img class="card-img" src="~/web-assets/images/station/membership.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="card-product__title"><a asp-area="User" asp-action="Create" asp-controller="Membership">Membership</a></h4>

            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card text-center card-product">
            <div class="card-product__img">
                <img class="card-img" src="~/web-assets/images/station/payment.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="card-product__title"><a  asp-area="User" asp-action="Payment" asp-controller="Membership">Payment</a></h4>

            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@Html.TempData["msg"]' == "alreadyexists") {
                swal("Oops!", "Product already exists.", "warning");
            }
            if ('@Html.TempData["msg"]' == "added") {
                swal("Saved!", "Your Product Added Successfully.", "success");
            }
            if ('@Html.TempData["msg"]'== "changed") {
                swal("Changed!", "Your Password Changed Successfully.", "success");
            }
            if ('@Html.TempData["msg"]' == "welcome") {
                swal("Welcome!", "Nota Music Player .", "success");
            }
            if ('@Html.TempData["msg"]' == "nullvalue") {
                swal("No Uploads", "You Don't have any Uploads","warning");
            }
        });
    </script>
}














