﻿@model Nota.Areas.Admin.Models.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content mt-3">
                <div class="card-body">
                    <form asp-area="Admin" asp-action="ChangePassword" asp-controller="Profile" id="basic-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group"><br/>
                                        <label>Email : <span class="mandatory"></span></label>
                                        <b> @Model.Email</b>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Old Password<span class="mandatory text-danger"> *</span> </label>
                                    <input asp-for="OldPassword" type="password" placeholder="Enter Old Password" class="form-control parsley-error" required="" data-parsley-id="29">
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>New Password<span class="mandatory text-danger"> *</span></label>
                                    <input asp-for="NewPassword" placeholder="Enter New Password" type="password" class="form-control parsley-error" required="" data-parsley-id="29">
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Confirm Password<span class="mandatory text-danger"> *</span></label>
                                    <input asp-for="ConfirmPassword" placeholder="Enter Confirm Description" type="password" class="form-control parsley-error" required="" data-parsley-id="29">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light" onclick="window.location='/Admin/Dashboard'">Back</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="@Url.Content("~/js/passwordStrengthMeter.js")"></script>
    <script src="@Url.Content("~/js/ChangePassword.js")"></script>
}