﻿@model Nota.Areas.Admin.Models.UserModel
@{
    ViewData["Title"] = "Detail";
}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content mt-3">
            <div class="card-body">
                <form asp-area="Admin" asp-action="Create" asp-controller="User" id="basic-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>First Name<span class="mandatory text-danger"></span> </label>
                                <input asp-for="FirstName" placeholder="Enter First Name" type="text" readonly class="form-control parsley-error" required="" data-parsley-id="29">@*<ul class="parsley-errors-list filled" id="parsley-id-29"><li class="parsley-required">This value is required.</li></ul>*@
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Last Name<span class="mandatory text-danger"> </span></label>
                                <input asp-for="LastName" placeholder="Enter Last Name" type="text" readonly class="form-control parsley-error" required="" data-parsley-id="29">@*<ul class="parsley-errors-list filled" id="parsley-id-29"><li class="parsley-required">This value is required.</li></ul>*@
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Email<span class="mandatory text-danger"></span></label>
                                <input asp-for="Email" type="email" placeholder="Enter Email" readonly class="form-control parsley-error" required="" data-parsley-id="31">@*<ul class="parsley-errors-list filled" id="parsley-id-31"><li class="parsley-required">This value is required.</li></ul>*@
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Mobile No. <span class="mandatory text-danger"></span></label>
                                <input asp-for="Phone" type="text" readonly placeholder="Enter Email" class="form-control parsley-error" required="" data-parsley-id="31">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Role<span class="mandatory text-danger"></span></label>
                                <input asp-for="Role" type="text" readonly placeholder="Enter Email" class="form-control parsley-error" required="" data-parsley-id="31">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <button type="button" onclick="window.location='/Admin/User'" class="btn btn-primary" title="Save">Back</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>