﻿@model Nota.Areas.Admin.Models.UserModel
@{
    ViewData["Title"] = "Edit";
}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content mt-3">
            <div class="card-body">
                <form asp-area="Admin" asp-action="Edit" asp-controller="User" id="basic-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(model => model.UserID)
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>First Name<span class="mandatory text-danger"> *</span> </label>
                                <input asp-for="FirstName" placeholder="Enter First Name" type="text" class="form-control parsley-error" required="" data-parsley-id="29">@*<ul class="parsley-errors-list filled" id="parsley-id-29"><li class="parsley-required">This value is required.</li></ul>*@
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Last Name<span class="mandatory text-danger"> *</span></label>
                                <input asp-for="LastName" placeholder="Enter Last Name" type="text" class="form-control parsley-error" required="" data-parsley-id="29">@*<ul class="parsley-errors-list filled" id="parsley-id-29"><li class="parsley-required">This value is required.</li></ul>*@
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Email<span class="mandatory text-danger"> *</span></label>
                                <input asp-for="Email" type="email" placeholder="Enter Email" class="form-control parsley-error" required="" data-parsley-id="31">@*<ul class="parsley-errors-list filled" id="parsley-id-31"><li class="parsley-required">This value is required.</li></ul>*@
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Password<span class="mandatory text-danger"> *</span></label>
                                <input asp-for="Password" type="text" placeholder="Enter Password" class="form-control parsley-error" required="" data-parsley-id="31">@*<ul class="parsley-errors-list filled" id="parsley-id-31"><li class="parsley-required">This value is required.</li></ul>*@
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Mobile No.<span class="mandatory text-danger">*</span></label>
                                <input asp-for="Phone" type="text" placeholder="Enter Email" class="form-control parsley-error" required="" data-parsley-id="31">@*<ul class="parsley-errors-list filled" id="parsley-id-31"><li class="parsley-required">This value is required.</li></ul>*@
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="col-form-label">Role<span class="mandatory text-danger"> *</span></label>
                                <select asp-for="RoleID" asp-items="Model.SelectRole" class="form-control" tabindex="7">
                                    <option value="">-- Select Role --</option>
                                </select>
                                <span asp-validation-for="RoleID" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <button type="submit" class="btn btn-primary" title="Save">Save</button>
                            <button type="button" onclick="window.location='/Admin/User'" class="btn btn-danger waves-effect waves-light">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>